<a class="navbar-brand" href="{{ course_path('course_show', {'id': course.id}) }}">{{ course.name }}</a>
{% if status !='Pending' %}
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index') }}">Documents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('journal_index') }}">Journal</a>
    </li>
    {% if course.ltiId > 0 and role=='Instructor' %}
        <li class="nav-item">
            <a class="nav-link"
               href="{{ path('lti_ags_index', {'courseid': course.id}) }}">Gradebook </a>
        </li>
    {% endif %}
{% endif %}