{% extends 'base.html.twig' %}

{% block title %}Course Edit - {{ parent() }}{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="#">{{ course.name }}</a>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_edit', {'id': course.id}) }}">Edit Course</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_show', {'id': course.id}) }}">Classlist</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ course_path('doc_index') }}">List Docs</a>
            <a class="dropdown-item" href="{{ course_path('doc_new') }}">Create Doc</a>
        </div>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>
    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
