{% extends 'base.html.twig' %}

{% block title %}Course List - {{ parent() }}{% endblock %}

{% block body %}
    <h1>My Courses</h1>
    <div class="row">
        {% for course in courses %}
            <div class="col-lg-4 col-sm-12  mt-3">
                <div class="card">
                    <div class="card-header">
                        <a href="{{ path('course_show', {'courseid': course.id}) }}">{{ course.name }}  </a> {{ course.term.name }}
                        ({{ course.time }})
                    </div>
                    <div class="card-body">
                        Instructor:
                        {% for classlist in course.classlists %}
                            {% if classlist.role == 'Instructor' %}
                                {{ classlist.user.firstname }} {{ classlist.user.lastname }}
                            {% endif %}
                        {% endfor %}
                        <hr/>
                        {{ course.announcement|raw }}
                    </div>
                </div>
            </div>
        {% else %}
            No Courses Found
        {% endfor %}
    </div>

{% endblock %}
