{% extends 'base.html.twig' %}

{% block title %}{{ header }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col">
            <h1>{{ header }}</h1>
            {% if header == "My Current Courses" %}
                {% set status = 'archive' %}{% set display = 'My Course Archive' %}
            {% else %}
                {% set status = 'default' %}{% set display = 'My Current Courses' %}
            {% endif %}
            <a class="btn btn-primary" href="{{ path('course_index',{'status':status}) }}">{{ display }}</a>
        </div>
    </div>
    <div class="row">
        {% for course in courses %}
            <div class="col-lg-3">
                <div class="card mr-1 mb-3">
                    <div class="card-header">
                        <a href="{{ path('course_show', {'courseid': course.id}) }}">{{ course.name }}  </a> {% if course.term %} {{ course.term.name }} {% endif %}
                        ({{ course.time }})
                    </div>
                    <div class="card-body">
                        Instructor:
                        {% for classlist in course.classlists %}
                            {% if classlist.role == 'Instructor' %}
                                {{ classlist.user.firstname }} {{ classlist.user.lastname }}
                            {% endif %}
                        {% endfor %}
                        <hr/>
                        {{ course.announcement|raw }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>No Courses Found</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
