{% extends 'base.html.twig' %}

{% block title %}Course Home - {{ parent() }}{% endblock %}

{% block subnav %}
    {% if status !='Pending' %}
        {{ include('course/_subnav.html.twig') }}
    {% endif %}
{% endblock %}


{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="">Hello, {{ user.firstname }}!</h2>
        {{ course.announcement|raw }}
    </div>
    <div class="col">
    {% if role=='Instructor' %}
        <h2 class="d-inline">Projects</h2>
        <a aria-label="Add project to {{ course.name }}" class="btn btn-primary btn-sm" href="{{ path('project_new', {'courseid': course.id}) }}">Add
            Project</a>
        <div class="row">
            {% if course.projects %}
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Stages</th>
                    <th>Rubric</th>
                    <th>Markup Sets</th>
                </tr>
                </thead>
                <tbody>
                {% for project in course.projects %}
                    <tr>
                        <td>
                            <a aria-label="Edit Project {{ project.name }}" class="btn btn-secondary btn-sm"
                               style="background:{{ project.color }}"
                               href="{% if (is_granted('ROLE_ADMIN')) or (labelset.user == app.user) %}{{ path('project_edit', {'id': project.id}) }}{% else %}#{% endif %}">
                                {{ project.name }}</a>
                        </td>
                        <td>
                            {% if project.stages %}{% for stage in project.stages %}
                                <button class="btn btn-secondary btn-sm"
                                        style="background:{{ stage.color }}">{{ stage.name }}</button> {% endfor %}{% endif %}
                        </td>
                        <td>
                            {% if project.rubrics %}{% for rubric in project.rubrics %}{{ rubric.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
                        </td>
                        <td>
                            {% if project.markupsets %}{% for markupset in project.markupsets %}{{ markupset.name }}{% if not loop.last %}, {% endif %} {% endfor %}{% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1">No Records Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}


                <h2>eLW Classlist</h2>
                <table id="classlist" class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Students</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    <thead>
                    <tbody>
                    {% for classlist in classlists %}
                        <tr>
                            <td>{{ classlist.user.lastname }}, {{ classlist.user.firstname }} </td>
                            <td>{{ classlist.role }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm"
                                   href="{{ path('classlist_edit', {'id': classlist.id}) }}">Edit</a>
                                {{ include('classlist/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div id="nrps"></div>
            </div>
        </div>
    {% endif %}

    {% if status=='Pending' %}
        <div class="alert alert-primary">Your entry to this course is pending. Please check back soon.
            <a class="btn btn-primary" href="{{ course_path('course_show', {'id': course.id}) }}">Check Now</a>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {# Delete course trigger #}
            $('#delete-trigger').click(function () {
                $("#delete-form").submit();
            });
            $(".nrps").click(function () {
                var request = $(this).attr('data-request')
                var target = '#nrps'
                $.ajax({
                    url: request, success: function (result) {
                        $(target).html(result);
                    }
                });
                $(this).hide();
            });
        });
    </script>
{% endblock %}