{% extends 'base.html.twig' %}

{% block title %}Course Home - {{ parent() }}{% endblock %}

{% block subnav %}
    {% if status !='Pending' %}
        {{ include('course/_subnav.html.twig') }}
    {% endif %}
{% endblock %}

{% block subnavright %}
    {% if role=='Instructor' %}
    <li class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#helpModal" href="javascript:void(0);" class="nav-link">Course Help</a>
    </li>
    {% endif %}
{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h2 class="pointer">Hello, {{ user.firstname }}!</h2>
                {{ course.announcement|raw }}
                {% if role=='Instructor' %}
                    <a class="btn btn-primary btn-sm"
                       href="{{ course_path('course_announcement', {'courseid': course.id}) }}">Edit
                        eLW Reminder</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h2>Welcome to eLW for {{ course.name }}.</h2>
            <p>eLW offers two writing tools: <strong>Documents</strong> and <strong>Journals</strong>.  <strong>Journals</strong> are private writing spaces only visible to the student and instructor.
                The <strong>Documents</strong> tool collects different stages of writing projects and offers various peer and instructor feedback opportunities.</p>
            <p>Be sure to follow each assignment's instructions regarding whether work should be posted as a journal or as a document.
                Also pay attention to which document settings the instructor has specified.</p>
            <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                Park Hall 118.</p>
        </div>
    </div>

{#    {% if user.irb is null %}#}
{#        <div class="card mb-3">#}
{#            <div class="card-body" id="irb_card">#}
{#                <a class="btn btn-primary btn-sm irb"#}
{#                   href="#"#}
{#                   data-request="{{ course_path('user_irb', {'courseid': course.id}) }}"#}
{#                >Research Permission</a>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}

    {% if role=='Instructor' %}
        <div class="row">
            <div class="col-lg-6">
                {# Classlist #}
                <div class="card mb-3">
                    <div class="card-header">
                        <h2 id="classlist-toggle" class="card-title pointer">Classlist <i id='classlist-arrows'
                                                                                          class="fa fa-chevron-up small"></i>
                        </h2>
                        <a class="btn btn-primary btn-sm nrps"
                           href="#" data-request="{{ path('lti_nrps', {'courseid': course.id}) }}">Compare to eLC
                            Classlist</a>
                    </div>
                    <div class="card-body">
                        <div class="row classlist-row">
                            <table id="classlist" class="table">
                                <thead class="">
                                <tr>
                                    <th>Students</th>
                                    <th>Last Login</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                                <thead>
                                <tbody>
                                {% for classlist in classlists %}
                                    <tr>
                                        <td>{{ classlist.user.lastname }}, {{ classlist.user.firstname }} </td>
                                        <td>{{ classlist.user.lastlogin | date("M j, Y g:ia") }}</td>
                                        <td>{{ classlist.role }}</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm"
                                               href="{{ path('classlist_edit', {'id': classlist.id}) }}">Edit</a>
                                            {{ include('classlist/_delete_form.html.twig') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div id="nrps"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                {# Projects #}
                <div class="card mb-3">
                    <div class="card-header">
                        <h2 id="projects-toggle" class="card-title pointer">Projects <i id='projects-arrows'
                                                                                        class="fa fa-chevron-up small"></i></h2>
                        <a aria-label="View and edit Stages" class="btn btn-primary btn-sm"
                           href="{{ path('stage_index') }}">Stages</a>
                        <a aria-label="View and edit Markup" class="btn btn-primary btn-sm"
                           href="{{ path('markupset_byuser') }}">Markup</a>
                        <a aria-label="View and edit Rubric Blocks" class="btn btn-primary btn-sm"
                           href="{{ path('rubric_index') }}">Rubric Blocks</a>
                        <a aria-label="Add project to {{ course.name }}" class="btn btn-primary btn-sm"
                           href="{{ path('project_new', {'courseid': course.id}) }}">Add
                            Project</a>
                    </div>

                    {% if course.projects %}
                        <div class="card-body">
                            <div class="row" id="projects-row">
                                {# new project config #}
                                {% for project in course.projects %}
                                    <div class="col-lg-6">
                                        <div class="card mb-3">
                                            <div class="card-header text-white" style="background-color: {{ project.color }}">
                                                <h5 class="card-title d-inline">{{ project.name }}</h5>
                                                <a aria-label="Edit Project {{ project.name }}"
                                                   class="btn btn-primary btn-sm float-end"
                                                   href="{% if (is_granted('ROLE_ADMIN')) or (role=='Instructor') %}{{ path('project_edit', {'id': project.id}) }}{% else %}#{% endif %}">
                                                    Edit</a>
                                            </div>
                                            <div class="card-body">
                                                <p>Stages:{% if project.stages %}  {% for stage in project.stages %}
                                                    <button class="btn btn-secondary btn-sm"
                                                            style="background:{{ stage.color }}">{{ stage.name }}</button> {% endfor %}{% endif %}
                                                </p>
                                                <p>
                                                    Rubric
                                                    Blocks: {% if project.rubrics %}  {% for rubric in project.rubrics %}{{ rubric.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</p>
                                                <p>
                                                    Markup: {% if project.markupsets %}{% for markupset in project.markupsets %}{{ markupset.name }}{% if not loop.last %}, {% endif %} {% endfor %}{% endif %}
                                                </p>
                                                <p>
                                                    Gradebook
                                                    Column(s): {% if project.ltigrades %}{% for grade in project.ltigrades %}{{ grade.label }}{% if not loop.last %}, {% endif %} {% endfor %}{% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="card">
                    <div class="card-header">
                        <h2 id="gradebook-toggle" class="card-title pointer">Gradebook Columns <i id='gradebook-arrows'
                                                                                                  class="fa fa-chevron-up small"></i>
                        </h2>
                        <a class="btn btn-primary btn-sm"
                           href="{{ path('ags_new', {'courseid': course.id}) }}">Create Gradebook
                            Column</a>
                    </div>
                    <div class="card-body">
                        <div class="row" id="gradebook-row">
                            <table class="table">
                                <thead class="">
                                <tr>
                                    <th scope="col">Label</th>
                                    <th scope="col">Max Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for lineitem in course.ltiAgs %}
                                    <tr>
                                        <td>{{ lineitem.label }}</td>
                                        <td>{{ lineitem.max }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    {% endif %}

    {# Help Modal #}
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="helpModalLabel">Course Help</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close Help"></button>
                </div>
                <div class="modal-body">
                    <p>
                        From the course home page, instructors can <strong>Edit Course</strong> to change the name,
                        time,
                        or term for the course. They can also add an <strong>eLW Reminder</strong> for their
                        class.
                    </p>
                    <p>
                        The <strong>Classlist</strong> will show which students are enrolled in the eLC class and which
                        ones have
                        enrolled in the eLW class.
                    </p>

                    <p>eLW Documents are organized into <strong>Projects</strong>, and instructors can add or edit
                        projects from the course home and customize:
                    <ul>
                        <li><strong>Project</strong> names (i.e. Essay One or Poetry Analysis). <strong>***You must have
                                at least one
                                project before students can create new documents.***</strong>
                        </li>
                        <li><strong>Stages</strong> of the project (i.e. Draft One, Final for Grading, Exploratory
                            Draft)
                        </li>
                        <li><strong>Markup sets</strong> for the project (i.e. Grammar and Mechanics, Syntax and Style,
                            or custom markup)
                        </li>
                        <li><strong>Rubrics</strong> for the project (optional)</li>
                        <li><strong>Gradebook Columns</strong> for the project (i.e. Essay One Draft One, Essay One
                            Final)
                        </li>
                    </ul>
                    </p>

                    <p>
                        The <strong>Gradebook Columns</strong> area of the course page allows instructors to create a
                        link between eLW work and the eLC gradebook. Instructors should create the gradebook column in
                        eLW, and it will then appear in the eLC gradebook, where they can use manage grades to change
                        the weight of the grade, hide the column until they want to release grades, etc. Instructors can
                        create gradebook columns for draft work, journals, and/or final essay grades.</p>
                    <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                        Park Hall 118.</p>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".irb").each(function () {
                let request = $(this).attr('data-request')
                let target = '#irb_card';
                $.ajax({
                    url: request, success: function (result) {
                        $(target).html(result);
                    }
                });
                $(this).hide();
            });
            $("#projects-toggle").click(function () {
                $("#projects-row").toggle();
                $('#projects-arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            });
            $("#classlist-toggle").click(function () {
                $(".classlist-row").toggle();
                $('#classlist-arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            });
            $("#gradebook-toggle").click(function () {
                $("#gradebook-row").toggle();
                $('#gradebook-arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            });
            {# Delete course trigger #}
            $('#delete-trigger').click(function () {
                $("#delete-form").submit();
            });
            $(".nrps").click(function () {
                var request = $(this).attr('data-request')
                var target = '#nrps'
                $.ajax({
                    url: request, success: function (result) {
                        $(target).html(result);
                    }
                });
                $(this).hide();
            });
        });
    </script>
{% endblock %}