{% extends 'base.html.twig' %}

{% block title %}Course Home - {{ parent() }}{% endblock %}

{% block subnav %}
    {% if status !='Pending' %}
    {{ include('course/_subnav.html.twig') }}
    {% endif %}
{% endblock %}


{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}

    <h2>Hi {{ user.firstname }}</h2>
    {% if course.announcement != '' %}
        <div class="alert alert-primary">{{ course.announcement|raw }}</div>
    {% endif %}

    {% if course.ltiId > 0 and role=='Instructor' %}
        <a class="btn btn-primary"
           href="{{ path('lti_nrps', {'courseid': course.id}) }}">Compare to eLC
            Classlist</a>
    {% endif %}
    {% if role=='Instructor' %}
    <table id="classlist" class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Status</th>
            <th>Students</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        <thead>
        <tbody>
        {% for classlist in classlists %}
            <tr>
                <td style="width: 3%"
                    class="table-{{ classlist.status == 'Approved' ? 'success' : 'danger' }}">{{ classlist.status }}
                </td>
                <td>{{ classlist.user.lastname }}, {{ classlist.user.firstname }} </td>
                <td>{{ classlist.role }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       href="{{ path('classlist_edit', {'id': classlist.id}) }}">Edit</a>
                    {{ include('classlist/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if status=='Pending' %}
        <div class="alert alert-primary">Your entry to this course is pending. Please check back soon.
            <a class="btn btn-primary" href="{{ course_path('course_show', {'id': course.id}) }}">Check Now</a>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {# Delete course trigger #}
            $('#delete-trigger').click(function () {
                $("#delete-form").submit();
            });
        });
    </script>
{% endblock %}