{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block subnav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('course_edit', {'id': course.id}) }}">Edit Course</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('doc_index') }}">List Docs</a>
            <a class="dropdown-item" href="{{ path('doc_new') }}">Create Doc</a>
        </div>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <td>Students</td>
        </tr>
        {% for classlist in course.classlists %}
            {% for user in classlist.user %}
                <tr>
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
