{% extends 'base.html.twig' %}

{% block title %}Course Home - {{ parent() }}{% endblock %}

{% block subnav %}
    {% if status !='Pending' %}
        {{ include('course/_subnav.html.twig') }}
    {% endif %}
{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a data-toggle="modal" data-target="#helpModal" href="javascript:void(0);" class="nav-link">Course Help</a>
    </li>
{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h2 class="pointer">Hello, {{ user.firstname }}!</h2>
                {{ course.announcement|raw }}
                {% if role=='Instructor' %}
                    <a class="btn btn-primary btn-sm"
                       href="{{ course_path('course_announcement', {'courseid': course.id}) }}">Edit
                        eLW Reminder</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if user.irb is null %}
        <div class="card mb-3">
            <div class="card-body" id="irb_card">
                <a class="btn btn-primary btn-sm irb"
                   href="#"
                   data-request="{{ course_path('user_irb', {'courseid': course.id}) }}"
                >Research Permission</a>
            </div>
        </div>
    {% endif %}

    {% if role=='Instructor' %}
        {# Classlist #}
        <div class="card mb-3">
            <div class="card-header">
                <h2 id="classlist-toggle" class="card-title pointer">Classlist <i id='classlist-arrows'
                                                                                  class="fa fa-chevron-up small"></i>
                </h2>
                <a class="btn btn-primary btn-sm nrps"
                   href="#" data-request="{{ path('lti_nrps', {'courseid': course.id}) }}">Compare to eLC
                    Classlist</a>
            </div>
            <div class="card-body">
                <div class="row" id="classlist-row">
                    <table id="classlist" class="table">
                        <thead class="">
                        <tr>
                            <th>Students</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        <thead>
                        <tbody>
                        {% for classlist in classlists %}
                            <tr>
                                <td>{{ classlist.user.lastname }}, {{ classlist.user.firstname }} </td>
                                <td>{{ classlist.role }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('classlist_edit', {'id': classlist.id}) }}">Edit</a>
                                    {{ include('classlist/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="col" id="nrps"></div>
                </div>
            </div>
        </div>

        {# Projects #}
        <div class="card mb-3">
            <div class="card-header">
                <h2 id="projects-toggle" class="card-title pointer">Projects <i id='projects-arrows'
                                                                                class="fa fa-chevron-up small"></i></h2>
                <a aria-label="View and edit Stages" class="btn btn-primary btn-sm"
                   href="{{ path('stage_index') }}">Stages</a>
                <a aria-label="View and edit Markup" class="btn btn-primary btn-sm"
                   href="{{ path('markupset_byuser') }}">Markup</a>
                <a aria-label="View and edit Rubrics" class="btn btn-primary btn-sm"
                   href="{{ path('rubric_index') }}">Rubrics</a>
                <a aria-label="Add project to {{ course.name }}" class="btn btn-primary btn-sm"
                   href="{{ path('project_new', {'courseid': course.id}) }}">Add
                    Project</a>
            </div>
            <div class="card-body">
                {% if course.projects %}
                    <div class="row" id="projects-row">
                        {# new project config #}
                        {% for project in course.projects %}
                            <div class="col-sm-3">
                                <div class="card mb-3">
                                    <div class="card-header text-white" style="background-color: {{ project.color }}">
                                        <h5 class="card-title d-inline">{{ project.name }}</h5>
                                        <a aria-label="Edit Project {{ project.name }}"
                                           class="btn btn-primary btn-sm float-right"
                                           href="{% if (is_granted('ROLE_ADMIN')) or (role=='Instructor') %}{{ path('project_edit', {'id': project.id}) }}{% else %}#{% endif %}">
                                            Edit</a>
                                    </div>
                                    <div class="card-body">
                                        <p>Stages:{% if project.stages %}  {% for stage in project.stages %}
                                            <button class="btn btn-secondary btn-sm"
                                                    style="background:{{ stage.color }}">{{ stage.name }}</button> {% endfor %}{% endif %}
                                        </p>
                                        <p>
                                            Rubrics: {% if project.rubrics %}  {% for rubric in project.rubrics %}{{ rubric.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</p>
                                        <p>
                                            Markup: {% if project.markupsets %}{% for markupset in project.markupsets %}{{ markupset.name }}{% if not loop.last %}, {% endif %} {% endfor %}{% endif %}
                                        </p>
                                        <p>
                                            Gradebook
                                            Column(s): {% if project.ltigrades %}{% for grade in project.ltigrades %}{{ grade.label }}{% if not loop.last %}, {% endif %} {% endfor %}{% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 id="gradebook-toggle" class="card-title pointer">Gradebook Columns <i id='gradebook-arrows'
                                                                                          class="fa fa-chevron-up small"></i>
                </h2>
                <a class="btn btn-primary btn-sm"
                   href="{{ path('ags_new', {'courseid': course.id}) }}">Create Gradebook
                    Column</a>
            </div>
            <div class="card-body">
                <div class="row" id="gradebook-row">
                    <table class="table">
                        <thead class="">
                        <tr>
                            <th scope="col">Label</th>
                            <th scope="col">Max Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lineitem in course.ltiAgs %}
                            <tr>
                                <td>{{ lineitem.label }}</td>
                                <td>{{ lineitem.max }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    {# Help Modal #}
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="helpModalLabel">Course Help</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Projects</strong></p>

                    <p><strong>Stages</strong></p>

                    <p><strong>Markup</strong></p>

                    <p><strong>Rubrics</strong></p>

                    <p><strong>Gradebook</strong></p>

                    <p><strong>Classlist</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".irb").each(function () {
                let request = $(this).attr('data-request')
                let target = '#irb_card';
                $.ajax({
                    url: request, success: function (result) {
                        $(target).html(result);
                    }
                });
                $(this).hide();
            });
            $("#projects-toggle").click(function () {
                $("#projects-row").toggle();
                $('#projects-arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            });
            $("#classlist-toggle").click(function () {
                $("#classlist-row").toggle();
                $('#classlist-arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            });
            $("#gradebook-toggle").click(function () {
                $("#gradebook-row").toggle();
                $('#gradebook-arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            });
            {# Delete course trigger #}
            $('#delete-trigger').click(function () {
                $("#delete-form").submit();
            });
            $(".nrps").click(function () {
                var request = $(this).attr('data-request')
                var target = '#nrps'
                $.ajax({
                    url: request, success: function (result) {
                        $(target).html(result);
                    }
                });
                $(this).hide();
            });
        });
    </script>
{% endblock %}