{% extends 'base.html.twig' %}

{% block title %}LtiAgs index{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}
    <h1>eLW/eLC Gradebook</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Label</th>
                <th>Lti_id</th>
                <th>Max Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lti_ag in lti_ags %}
            <tr>
                <td>{{ lti_ag.label }}</td>
                <td>{{ lti_ag.ltiId }}</td>
                <td>{{ lti_ag.max }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('ags_delete', {'agsid': lti_ag.id, 'courseid': lti_ag.course.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
