{% extends 'base.html.twig' %}

{% block title %}LtiAgs index{% endblock %}

{% block body %}
    <h1>LtiAgs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Lti_id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lti_ag in lti_ags %}
            <tr>
                <td>{{ lti_ag.id }}</td>
                <td>{{ lti_ag.label }}</td>
                <td>{{ lti_ag.ltiId }}</td>
                <td>
                    <a href="{{ path('lti_ags_show', {'id': lti_ag.id}) }}">show</a>
                    <a href="{{ path('lti_ags_edit', {'id': lti_ag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lti_ags_new') }}">Create new</a>
{% endblock %}
