{% extends 'base.html.twig' %}

{% block title %}LtiAgs index{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="{{ course_path('course_show', {'id': course.id}) }}">{{ course.name }}</a>
    {% if status !='Pending' %}
        <li class="nav-item">
            <a class="nav-link" href="{{ course_path('doc_index') }}">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ course_path('journal_index') }}">Journal</a>
        </li>
    {% endif %}
{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Gradebook</h1>
        <a class="btn btn-primary"
           href="{{ path('ags_new', {'courseid': course.id}) }}">Create eLC Gradebook
            Items</a>
        <a class="btn btn-primary"
           href="{{ path('ags_score_new', {'courseid': course.id}) }}">Enter Score in Gradebook</a>
        <a class="btn btn-primary"
           href="{{ path('ags_results', {'courseid': course.id}) }}">Gradebook Results</a>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Label</th>
                <th>Max Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lti_ag in lti_ags %}
            <tr>
                <td>{{ lti_ag.label }}</td>
                <td>{{ lti_ag.max }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ path('ags_delete', {'agsid': lti_ag.id, 'courseid': lti_ag.course.id}) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
