{% extends 'base.html.twig' %}

{% block title %}LtiAgs{% endblock %}

{% block body %}
    <h1>LtiAgs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lti_ag.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ lti_ag.label }}</td>
            </tr>
            <tr>
                <th>Lti_id</th>
                <td>{{ lti_ag.ltiId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lti_ags_index') }}">back to list</a>

    <a href="{{ path('lti_ags_edit', {'id': lti_ag.id}) }}">edit</a>

    {{ include('lti_ags/_delete_form.html.twig') }}
{% endblock %}
