{% extends 'base.html.twig' %}

{% block title %}Markup index{% endblock %}

{% block body %}
    <h1>Markup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>Description</th>
                <th>Sort</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for markup in markups %}
            <tr>
                <td>{{ markup.id }}</td>
                <td>{{ markup.name }}</td>
                <td>{{ markup.color }}</td>
                <td>{{ markup.description }}</td>
                <td>{{ markup.sort }}</td>
                <td>
                    <a href="{{ path('markup_show', {'id': markup.id}) }}">show</a>
                    <a href="{{ path('markup_edit', {'id': markup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('markup_new') }}">Create new</a>
{% endblock %}
