{% extends 'base.html.twig' %}

{% block title %}Rubric Data{% endblock %}

{% block body %}

    <div class="container-fluid">
        <a class="btn btn-secondary mb-2" href="{{ path('data') }}">Back to Data</a>

        <div class="row">
            <div class="col">
                <h2 class="d-inline">Rubrics used in {{ term.semester }} {{ term.year }}</h2>
                <div class="ms-3 d-inline dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuTerms" data-bs-toggle="dropdown" aria-expanded="false">
                        Rubrics by Term
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuTerms">
                        {% set rubricid = 0 %}
                        {% for rubric in rubric_count%}{% if loop.first %}{% set rubricid %}{{ rubric.id }}{% endset %}{% endif %}{% endfor %}
                        {% for term in terms %}
                            <li><a class="dropdown-item" href="{{ path('rubric_data', {'termid': term.id, 'rubricid': rubricid}) }}">{{ term.semester }} {{ term.year }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Rubric</td>
                        <td>Count</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rubric in rubric_count %}
                        <tr>
                            <td> <a href="{{ path('rubric_data', {'termid': term.id, 'rubricid': rubric.id}) }}">{{ rubric.name }}</a></td>
                            <td>{{ rubric.rubriccount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <div class="col">
                {% if ratings_count %}
                <h2>Ratings for Rubric {{ rubric.name }} for {{ term.semester }} {{ term.year }}</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <td>Scale</td>
                        <td>Count</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rating in ratings_count %}
                        <tr>
                            <td>{{ rating.scale }}</td>
                            <td>{{ rating.ratingscount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
