{# twig template for ajax fragment #}

<div id="comment{{ doc.id }}" class="card mt-3">
    {% for comment in doc.comments %}
        <div class="card-header">
            {% if comment.access=='Hidden' %}
                <span class="badge badge-primary" style="background:black">Hidden</span>
            {% endif %}
            {% if app.user == comment.user %}
                <a class="btn btn-primary btn-sm  comment_ajax"
                   data-id="comment{{ doc.id }}"
                   href="#"
                   data-request="{{ path('comment_ajax_edit', {'docid': doc.id, 'source': 'journal', 'id': comment.id}) }}"
                >Edit End Comment</a>
            {% endif %}
        </div>
        <div class="card-body">
            {{ comment.body|raw }}
        </div>
        {% if comment.grade %}
            <div class="card-footer">
                Grade: {{ comment.grade }}
            </div>
        {% endif %}
    {% else %}
        {# only Instructors can offer feedback on Journal #}
        {% if role == "Instructor" %}
            <a class="btn btn-primary btn-sm  comment_ajax"
               data-id="comment{{ doc.id }}"
               href="#"
               data-request="{{ course_path('comment_ajax_new', {'courseid': courseid, 'docid': doc.id, 'source': 'journal'}) }}"
            >Create End Comment</a>
            <div id="comment{{ doc.id }}"></div>
        {% endif %}
    {% endfor %}
</div>

<script>
    // New or edit comments via ajax
    $(".comment_ajax").click(function () {
        var request = $(this).attr('data-request')
        var target = '#' + $(this).attr('data-id');
        $.ajax({
            url: request, success: function (result) {
                $(target).replaceWith(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status === 404) {
                    $(target).html('<p>Unable to load comment form.</p>');
                }
            }
        });
        $(this).hide();
    });
</script>




