{# twig template for ajax fragment #}


<link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
<style>
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {

        div.document-editor {
            min-width: 100%;
        }

        .document-editor {
            width: 100%;
            margin: 0;
            font-size: 16px;
            font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
        }
    }
</style>

<hr/>
<div id="comment{{ doc.id }}">
    <div id="loading_alert" class="alert alert-info" style="display: none;">Loading</div>
    {{ include('comment/_form.html.twig') }}
</div>


<script>
    $(document).ready(function () {
        // submit form comments via ajax
        $(".ajax_submit").click(function (e) {
            $("#loading_alert").show();
            for ( instance in CKEDITOR.instances )
                CKEDITOR.instances[instance].updateElement();
            $.ajax({
                url: '{{ request_url }}',
                method: 'POST',
                data: $('form#ajax').serialize(),
            });

            setTimeout(
                function()
                {
                    var request = "{{ path('comment_ajax_show', {'docid': doc.id}) }}";
                    var target = "#comment{{ doc.id }}"
                    $.ajax({
                        url: request, success: function (result) {
                            $(target).replaceWith(result);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            if (xhr.status === 404) {
                                $(target).html('<p>Unable to load comment form.</p>');
                            }
                        }
                    });
                }, 500);

        });
    });
</script>



