{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
{% endblock %}

{% block title %}{{ header }} - {{ parent() }}{% endblock %}

{% block subnav %}
    <h1 class="navbar-brand mb-0 h1 mr-5">
        {{ doc.title }}
    </h1>
{% endblock %}

{% block subnavright %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}


{% block body %}
    <div class="row doc-container">
        <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
                <div class="document-editor">
                    {{ doc.body|raw }}
                </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-2">
                <div class="card-header">
                    {{ doc.title }}
                </div>
                <div class="card-body">
                    <p>{% if doc.project %}
                            <span class="badge bg-default"
                                  style="background:{{ doc.project.color }}">{{ doc.project.name }}</span>
                        {% endif %}
                        {% if doc.stage %}
                            <span class="badge bg-default"
                                  style="background:{{ doc.stage.color }}">{{ doc.stage.name }}</span>
                        {% endif %}
                        <span class="badge bg-default"
                              style="background:{% if doc.access=='Private'%}darkred{% elseif doc.access=='Hidden' %}black{% else %}green{% endif %}">{{ doc.access }}</span>
                    </p>
                    <p>By {{ doc.user.firstname }} {{ doc.user.lastname }}</p>
                    <p>Created: {{ doc.created | date("M j, Y g:ia") }}</p>
                    <p>Updated: {{ doc.updated | date("M j, Y g:ia") }}</p>
                    <p>Word Count: {{ doc.wordcount }}</p>
                </div>
            </div>

            {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('comment/_delete_form.html.twig', {'source': source,'target': target}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let access = "{{ doc.access }}";
            let role = "{{ role }}";
            if ( role==="Student") {
                $('#comment_grade').hide();
                $('#comment_grade').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
            if ( access === "Journal") {
                $('#comment_type').hide();
                $('#comment_type').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
        });
    </script>
{% endblock %}