{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
    <style>
        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {

            div.document-editor {
                min-width: 100%;
            }
            .document-editor {
                width: 100%;
                margin: 0;
                font-size: 16px;
                font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
            }
        }
    </style>
{% endblock %}

{% block title %}New Comment{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}

{% block body %}
    <div class="row doc-container">
        <div class="col-lg-8 col-sm-12">
            {% if doc.access!='Journal' %}
                <div class="document-editor">
                    {{ doc.body|raw }}
                </div>
            {% else %}
                <div class="card mt-3">
                    <div class="card-header">
                        <h2 class="d-inline">{{ doc.title }} </h2> by {{ doc.user.firstname }} {{ doc.user.lastname }}
                    </div>
                    <div class="card-body">
                        {{ doc.body|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-4 col-sm-12">
            <h1 style="font-size: large">Give Feedback</h1>
            <hr/>
            {{ include('comment/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let access = "{{ doc.access }}";
            let role = "{{ role }}";
            if ( role==="Student") {
                $('#comment_grade').hide();
                $('#comment_grade').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
            if ( access === "Journal") {
                $('#comment_type').hide();
                $('#comment_type').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
        });
    </script>
{% endblock %}
