{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document_v2.css') }}">
    <style>
        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {

            div.document-editor {
                min-width: 100%;
            }

            .document-editor {
                width: 100%;
                margin: 0;
                font-size: 16px;
                font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
            }
        }
    </style>
{% endblock %}

{% block title %}{{ header }} - {{ parent() }}{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}

{% block body %}
    <div class="row doc-container">
        <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
            <div class="document-editor ck-content">
                {{ doc.body|raw }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-2">
                <div class="card-header">
                    {{ doc.title }}
                </div>
                <div class="card-body">
                    <p>{% if doc.project %}
                            <span class="badge bg-default"
                                  style="background:{{ doc.project.color }}">{{ doc.project.name }}</span>
                        {% endif %}
                        {% if doc.stage %}
                            <span class="badge bg-default"
                                  style="background:{{ doc.stage.color }}">{{ doc.stage.name }}</span>
                        {% endif %}
                        <span class="badge bg-default"
                              style="background:{% if doc.access=='Private'%}darkred{% elseif doc.access=='Hidden' %}black{% else %}green{% endif %}">{{ doc.access }}</span>
                    </p>
                    <p>By {{ doc.user.firstname }} {{ doc.user.lastname }}</p>
                    <p>Created: {{ doc.created | date("M j, Y g:ia") }}</p>
                    <p>Updated: {{ doc.updated | date("M j, Y g:ia") }}</p>
                    <p>Word Count: {{ doc.wordcount }}</p>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header">
                    Comment for {{ doc.title }}
                </div>
                <div class="card-body">
                    {{ include('comment/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ckeditor.js') }}"></script>
    <script src="{{ asset('js/comment_editor_init.js') }}"></script>
    <script>
        $(document).ready(function () {
            let access = "{{ doc.access }}";
            let role = "{{ role }}";
            if (role === "Student") {
                $('#comment_grade').hide();
                $('#comment_grade').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
            if (access === "Journal") {
                $('#comment_type').hide();
                $('#comment_type').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
        });
    </script>
{% endblock %}
