{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
    <style>
        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {

            div.document-editor {
                min-width: 100%;
            }

            .document-editor {
                width: 100%;
                margin: 0;
                font-size: 16px;
                font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
            }
        }
    </style>
{% endblock %}

{% block title %}{{ header }} - {{ parent() }}{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}

{% block body %}
    <div class="row doc-container">
        <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
            {% if doc.access!='Journal' %}
                <div class="document-editor">
                    {{ doc.body|raw }}
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header">
                        <h2 class="d-inline">{{ doc.title }} </h2> by {{ doc.user.firstname }} {{ doc.user.lastname }}
                    </div>
                    <div class="card-body">
                        {{ doc.body|raw }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            {% if doc.access!='Journal' %}
                <div class="card mb-5">
                    <div class="card-header">
                        {{ doc.title }}
                    </div>
                    <div class="card-body">
                        <p>{% if doc.project %}
                                <span class="badge badge-primary"
                                      style="background:{{ doc.project.color }}">{{ doc.project.name }}</span>
                            {% endif %}
                            {% if doc.stage %}
                                <span class="badge badge-primary"
                                      style="background:{{ doc.stage.color }}">{{ doc.stage.name }}</span>
                            {% endif %}
                            <span class="badge badge-primary"
                                  style="background:{% if doc.access=='Private'%}darkred{% elseif doc.access=='Hidden' %}black{% else %}green{% endif %}">{{ doc.access }}</span>
                        </p>
                        <p>By {{ doc.user.firstname }} {{ doc.user.lastname }}</p>
                        <p>Created: {{ doc.created | date("M j, Y g:ia") }}</p>
                        <p>Updated: {{ doc.updated | date("M j, Y g:ia") }}</p>
                        <p>Word Count: {{ doc.wordcount }}</p>
                    </div>
                </div>
            {% endif %}

            <h1 class="d-inline" style="font-size: large">{{ header }}</h1>

            {{ include('comment/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            let access = "{{ doc.access }}";
            let role = "{{ role }}";
            if (role === "Student") {
                $('#comment_grade').hide();
                $('#comment_grade').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
            if (access === "Journal") {
                $('#comment_type').hide();
                $('#comment_type').prev().hide();
                $('#comment_access').hide();
                $('#comment_access').prev().hide();
            }
        });
    </script>
{% endblock %}
