{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}

{{ form_start(form) }}


<ul class="tags">
    {% for rating in form.rating %}
        <h3>{{ rating.rubric.name }}</h3>
        Level {{ rating.rubric.level }}
        {{ rating.rubric.body }}
        {{ form_row(form.scale) }}
        {{ form_row(form.comment) }}
    {% endfor %}
</ul>
{{ form_end(form) }}
