{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document_v2.css') }}">
{% endblock %}

{% block title %}{{ header }} - {{ parent() }}{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}

{% block body %}
    <div class="row doc-container">
        <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
            {# This is the orginal document #}
            <div id="doc_core{{ doc.id }}" class="document-editor ck-content">
                {{ doc.body|raw }}

                {# This is the markup for the original document #}
                <div class="markup_div" id="markup_doc_core{{ doc.id }}">
                    <p class="text-center">Markup</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-12 mb-5">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {% for rating in form.rating %}
                <div class="card mb-1">
                    <div class="card-header">
                        <h2 class="mb-0">Rubric: {{ ratingset.rating[loop.index-1].rubric.name | raw }}</h2>
                    </div>
                    <div class="card-body">
                        {{ ratingset.rating[loop.index-1].rubric.body | raw }}
                        {{ form_row(rating.scale) }}
                        {{ form_row(rating.comment) }}
                    </div>
                </div>
            {% endfor %}
            {{ form_rest(form) }}
                    <button id="submit" class="btn btn-primary  btn-sm pull-left" type="submit">Update</button>
            {{ form_end(form) }}
            <a class="btn btn-primary btn-sm float-end" href="{{ course_path('doc_show', {'id': doc.id, 'target': doc.id}) }}">Cancel</a>
{#            {{ include('ratingset/_delete_form.html.twig') }}#}
        </div>

    </div>
    <!-- Markup -->
    <div class="row" class="d-none">
        {# Markup pops #}
        <div class="markup-container">
            {% for markupset in markupsets %}
                {% for markup in markupset.markups %}
                    <div data-id='{{ markup.id }}' id='{{ markup.name }}' class='popover popover-markup d-none'
                         style="min-width: 10rem">
                        <div class="popover-title"
                             style="background: {{ markup.color }}; padding:.5em; color:#fff; min-width: 5em;">{{ markup.name }}</div>
                        <div class="popover-content" style="padding:.5em;">{{ markup.description|raw }}</div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {# Note pops for this/these documents #}
            $('.note').each(function (index) {
                let p = $(this).position();
                let note_index = index + 1;
                let note_number = '<span class="blue">' + note_index + '</span>';
                let note = '<span id="n' + note_index + '" data-id="h' + note_index + '" class="popover popover-note" style="min-width: 20rem; padding: 1rem; text-indent: 0"><span class="popover-content">' + note_number + $(this).html() + '</span></span>';
                $(this).prev().append(note);
            });

            $('.highlight').each(function (index) {
                let span_number = index + 1;
                $(this).attr('id', 'h' + span_number);
                let span_append = '<span class="super">' + span_number + '</span>';
                $(this).append(span_append);
                $('.super').hide();
            });

            $('.markup_div').hide()
            $('.document-editor').each(function (index) {
                let doc_id = $(this).attr('id');
                $(this).find('.markup').each(function (index) {
                    let id = "div[data-id='" + $(this).attr('data-id') + "']";
                    let markup_index = index + 1;
                    let markup_inline = $(id).children(".popover-title").text();
                    let markup_number = '<span class="super" style="color:black" >' + markup_index + '</span>';
                    let span_append = '<span class="note markupbody">' + markup_inline + markup_number + '</span>';
                    $(this).after(span_append);
                    let style = $(id).children(".popover-title").css("background-color");
                    let markuptitle = "<span style='padding:.2em; color:#fff; background-color:" + style + "'>" + $(id).children(".popover-title").text() + "</span>";
                    let markupbody = $(id).children(".popover-content").html();
                    let markup_append = '<div class="doc_double_space markupbody">' + markup_index + ': ' + markuptitle + markupbody + '</div><hr/>';
                    let markup_doc = '#markup_' + doc_id;
                    $(markup_doc).append(markup_append);
                    $(markup_doc).show()
                });
            });

            $('.popover').hide();

            $('.markup').mouseover(function () {
                if ($('#toggle').text() !== 'Popover') {
                    $('.popover').hide();
                    let id = "div[data-id='" + $(this).attr('data-id') + "']";
                    let offset = $(this).offset();
                    $(id).show().offset({top: offset.top - 50, left: offset.left + 100});
                }
            });

            $('.popover').click(function () {
                if ($('#toggle').text() !== 'Popover') {
                    $('.popover').hide();
                }
            });
            $('.marker-yellow').mouseover(function () {
                if ($('#toggle').text() !== 'Popover') {
                    $('.note').hide();
                    // let id = "span[data-id='" + $(this).attr('id') + "']";
                    // let offset = $(this).position();
                    // let right = $(this).position().left + $(this).width();
                    // $(id).show().offset({top: offset.top - 0, left: right});
                    let offset = $(this).offset();
                    $(this).next().show();
                }
            });
            $('.marker-yellow').mouseout(function () {
                if ($('#toggle').text() !== 'Popover') {
                    $('.note').hide();
                    $('.popover').hide();
                }

            });

        });
    </script>
{% endblock %}
