{% extends 'base.html.twig' %}

{% block title %}Edit Ratingset{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
        {% for rating in form.rating %}
            {{ ratingset.rating[loop.index-1].rubric.body | raw }}
            {{ form_row(rating.scale) }}
            {{ form_row(rating.comment) }}
            <hr/>
        {% endfor %}
    {{ form_rest(form) }}
    <button id="submit" class="btn btn-primary pull-right" type="submit">Update</button>
    {{ form_end(form) }}


{% endblock %}
