{% extends 'base.html.twig' %}

{% block title %}LTI Grades{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="{{ course_path('course_show', {'id': course.id}) }}">{{ course.name }}</a>
    {% if status !='Pending' %}
        <li class="nav-item">
            <a class="nav-link" href="{{ course_path('doc_index') }}">Documents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ course_path('journal_index') }}">Journal</a>
        </li>
    {% endif %}
{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}
    <div class="alert alert-info">N.B.:  You must create/edit the eLC Gradebook columns here to post or access grades from eLC in eLW.</div>

    <a class="btn btn-primary"
       href="{{ path('ags_new', {'courseid': course.id}) }}">Create Gradebook
        Column</a>

    <h2>eLW Columns</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Label</th>
            <th scope="col">Max Score</th>
        </tr>
        </thead>
        <tbody>
        {% for lineitem in course.ltiAgs %}
            <tr>
                <td>{{ lineitem.label }}</td>
                <td>{{ lineitem.max }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>eLC Columns</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Label</th>
            <th scope="col">Max Score</th>
        </tr>
        </thead>
        <tbody>
        {% for lineitem in lineitems %}
            <tr>
                <td>{{ lineitem.label }}</td>
                <td>{{ lineitem.scoreMaximum }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

