{% extends 'base.html.twig' %}

{% block title %}Gradebook Column - {{ parent() }}{% endblock %}

{% block subnav %}
    {% if status !='Pending' %}
        {{ include('course/_subnav.html.twig') }}
    {% endif %}
{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Create New Gradebook Column</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Submit') }}</button>
    {{ form_end(form) }}
{% endblock %}
