{% extends 'base.html.twig' %}

{% block title %}Class Compare{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}

{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}

    <h2>eLC Classlist</h2>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
        </tr>
        </thead>
        <tbody>
        {% for member in membership.members | sort | column('family_name') %}
            <tr>
                <td style="width: 3%"
                    class="table-{{ member.status == 'Active' ? 'success' : 'danger' }}">{{ member.status }}</td>
                <td>{{ member.family_name }}, {{ member.given_name }} </td>
                <td>{{ member.roles|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>eLW Classlist</h2>
    <table id="classlist" class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Status</th>
            <th>Students</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        <thead>
        <tbody>
        {% for classlist in classlists %}
            <tr>
                <td style="width: 3%"
                    class="table-{{ classlist.status == 'Approved' ? 'success' : 'danger' }}">{{ classlist.status }}
                </td>
                <td>{{ classlist.user.lastname }}, {{ classlist.user.firstname }} </td>
                <td>{{ classlist.role }}</td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       href="{{ path('classlist_edit', {'id': classlist.id}) }}">Edit</a>
                    {{ include('classlist/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
