{% extends 'base.html.twig' %}

{% block title %}Tool - LTI Launch Request Result{% endblock %}

{% block body %}
    <ul>
        <li><strong>Identifier:</strong> <code>{{ membership.context.identifier }}</code></li>
        <li><strong>Label:</strong> {{ membership.context.label }}</li>
        <li><strong>Title:</strong> {{ membership.context.title }}</li>
    </ul>
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Identifier</th>
                        <th scope="col">Name</th>
                        <th scope="col">Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in membership.members %}
                        <tr>
                            <td style="width: 3%" class="table-{{ member.status == 'Active' ? 'success' : 'danger' }}">{{ member.status }}</td>
                            <td><code>{{ member.identifier }}</code></td>
                            <td>{{ member.name }}</td>
                            <td>{{ member.roles|join(', ') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row">n/a</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

    <table id="classlist" class="table">
        <thead>
        <tr>
            <th>Students</th>
            <th>Role</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <thead>
        <tbody>
        {% for classlist in classlists %}
            <tr>
                <td>{{ classlist.user.lastname }}, {{ classlist.user.firstname }} </td>
                <td>{{ classlist.role }}</td>
                <td><span class="badge badge-primary">{{ classlist.status }}</span></td>
                <td>
                    <a class="btn btn-primary btn-sm"
                       href="{{ path('classlist_edit', {'id': classlist.id}) }}">Edit</a>
                    {{ include('classlist/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
