{% extends 'base.html.twig' %}

{% block title %}Term Index - {{ parent() }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><h1 class="card-title">Term index</h1>
            <a class="btn btn-primary" href="{{ path('term_new') }}">New Term</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Semester</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for term in terms %}
                    <tr>
                        <td><a aria-label="Edit Term {{ term.name }}"
                               href="{{ path('term_edit', {'id': term.id}) }}">{{ term.year }}</a></td>
                        <td>{{ term.semester }}</td>
                        <td>{{ term.status }}
                            {% if term.status != 'Default'%}
                            <a class="btn btn-primary btn-sm ml-5" aria-label="Set Default"
                               href="{{ path('term_default', {'id': term.id}) }}">Set Default</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
