{% extends 'base.html.twig' %}

{% block title %}Journal Edit - {{ parent() }}{% endblock %}

{% block subnav %}
    <li class="navbar-brand">{{ doc.title }}</li>
    <li class="nav-item">
        <a href="#" id="submit-doc-form" class="btn btn-primary">Save</a>
    </li>
{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a id='saving_alert' href="javascript:void(0);" class="nav-link" id="doc_save">Saving</a>
    </li>
    <li class="nav-item">
        {% if doc.comments|length == 0 and doc.agsResultId is null %}
            <a id="delete-trigger" class="nav-link" href="#">Delete</a>
            {{ include('journal/_delete_form.html.twig') }}
        {% else %}
            <p class="navbar-text">Journal entries that have end comments or grades cannot be deleted.</p>
        {% endif %}
    </li>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <span class="navbar-brand">Edit {{ doc.title }}</span>
            <div id="save_error" class="alert alert-danger d-none">The autosave failed. Please copy your current work before
                closing and return to eLC to login again.
            </div>
            {{ include('doc/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#submit-doc-form").click(function () {
                var editor = CKEDITOR.instances.journal_body;
                var count = editor.wordCount.wordCount;
                $('#journal_wordcount').val(count);
                $("#doc-form").submit(); // Submit the form
            });
            {# Delete doc trigger #}
            $('#delete-trigger').click(function () {
                $("#delete-form").submit();
            });

            {# Doc autosave #}
            $('#saving_alert').hide();
            var editor = CKEDITOR.instances.journal_body;
            var autoSave = setInterval(function () {
                var count = editor.wordCount.wordCount;
                var buffer = editor.checkDirty();
                if (buffer == 1) {
                    $('#journal_wordcount').val(count);
                    editor.resetDirty();
                    var body = editor.getData();
                    $.post("{{ course_path('doc_autosave', { 'id': doc.id }) }}", {docBody: body}, function (data) {
                    })
                    .fail(function () {
                       $('#save_error').removeClass("d-none");
                    });
                    $('#saving_alert').fadeIn();
                    $('#saving_alert').delay(3000).fadeOut();
                }
            }, 15000);
        });
    </script>

{% endblock %}