{% extends 'base.html.twig' %}

{% block title %}Journal Edit - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document_v2.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ asset('style.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ asset('ckeditor5/ckeditor5.css')}}">

    <style>
        .editor-container__editor {
            min-width: 100% !important;
        }
        .ck-editor__editable {
            min-height: 60vh;
            max-height: 60vh;
        }

    </style>
{% endblock %}

{% block subnav %}
    <li class="navbar-brand">{{ doc.title }}</li>
    <li class="nav-item">
        <a href="#" id="submit-doc-form" class="btn btn-primary">Save</a>
    </li>
{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a id='saving_alert' href="javascript:void(0);" class="nav-link" id="doc_save">Saving</a>
    </li>
    <li class="nav-item">
        {% if doc.comments|length == 0 and doc.agsResultId is null %}
            <a id="delete-trigger" class="nav-link" href="#">Delete</a>
            {{ include('journal/_delete_form.html.twig') }}
        {% else %}
            <p class="navbar-text">Journal entries that have end comments or grades cannot be deleted.</p>
        {% endif %}
    </li>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
            <span class="navbar-brand">{{ doc.title }}</span>
            {# Word Count #}
            <div class="card mb-3">
                <div class="card-header">Document Statistics</div>
                <div class="card-body">
                    <div><span>Word Count: </span><span id="word-count"></span></div>
                    <div><span> Document status: </span><span  id="editor-status">Unchanged</span></div>
                </div>

            </div>

            <div id="save_error" class="alert alert-danger d-none">The autosave failed. Please copy your current work before
                closing and return to eLC to login again.
            </div>
            {{ include('doc/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "{{ asset('ckeditor5/ckeditor5.js') }}",
				"ckeditor5/": "./ckeditor5/"
			}
		}
    </script>
    <script type="module" src="{{ asset('js/journal_editor_init.js') }}"></script>


    <script>
        $(document).ready(function () {
            $("#submit-doc-form").click(function () {
                var count = $('#word-count').text();
                $('#journal_wordcount').val(count);
                $("#doc-form").submit(); // Submit the form
            });

            {# Delete doc trigger #}
            $('#delete-trigger').click(function () {
                $("#delete-form").submit();
            });

            $('#saving_alert').hide();
            var autoSave = setInterval(function () {
                var buffer = $('#editor-status').text();
                var count = $('#ck-editor__editable').val().replace(/^[\s,.;]+/, "").replace(/[\s,.;]+$/, "").split(/[\s,.;]+/).length;

                if (buffer == 'Changed') {
                    $('#journal_wordcount').val(count);
                    var body = editor.getData();
                    $.post("{{ course_path('doc_autosave', { 'id': doc.id }) }}", {
                        docBody: body,
                        count: count
                    }, function (data) {
                    })
                        .fail(function() {
                            $('#save_error').removeClass("d-none");
                        });
                    ;
                    $('#editor-status').text('changes saved');
                    $('#saving_alert').fadeIn();
                    $('#saving_alert').delay(3000).fadeOut();

                }
            }, 15000);
        });
    </script>

{% endblock %}