{% extends 'base.html.twig' %}

{% block title %}Journal{% endblock %}


{% block subnav %}
    <a class="navbar-brand" href="#">{{ course.name }}</a>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_show', {'id': course.id}) }}">Course Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index', {'id': course.id}) }}">Documents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('journal_index') }}">My Journal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('journal_new') }}">New Journal</a>
    </li>
    {% if role=='Instructor' %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for classlist in course.classlists %}
            <a class="dropdown-item" href="{{ course_path('journal_index', {'userid': classlist.user.id}) }}">{{classlist.user.firstname}} {{classlist.user.lastname}}</a>
            {% endfor %}
        </div>
    </li>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Journal</h1>

    <div class="row">
        <div class="col-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in docs %}
                    <tr class="body">
                        <td>
                            <a href="{{ course_path('journal_index', {'docid': doc.id}) }}">{{ doc.title }}</a>
                        </td>
                        <td>{{ doc.updated | date("m/d/y g:ia") }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No Journals found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-8">
            {% if doc %}
                <h2 class="d-inline">{{ doc.title }}</h2><a class="btn btn-primary btn-sm float-right" href="{{ course_path('journal_edit', {'id': doc.id}) }}">Edit</a>
                <hr/>
                {{ doc.body|raw }}
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock %}


