{% extends 'base.html.twig' %}

{% block title %}Journal Index - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block subnav %}
    {{ include('course/_subnav.html.twig') }}
{% endblock %}

{% block toolnav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="mr-5">
                {% if doc %}
                    {% if app.user==doc.user %}My{% elseif doc %}{{ doc.user.firstname }} {{ doc.user.lastname }}'s{% endif %}
                {% endif %}
                Journal
            </h1>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item skip-link">
                        <a class="nav-link" href="#main-content">Skip to content</a>
                    </li>
                    {% if role=='Instructor' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Select Author
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for classlist in classlists %}
                                    <a class="dropdown-item"
                                       href="{{ course_path('journal_index', {'userid': classlist.user.id, 'index': loop.index}) }}">{{ classlist.user.lastname }}
                                        , {{ classlist.user.firstname }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{{ course_path('journal_new') }}">New Journal</a>
                    </li>


                </ul>
                {% if role=='Instructor' %}
                    <ul class="navbar-nav ml-auto">
                        {% for classlist in classlists %}
                            <li class="nav-item classlist_prev" id="prev{{ loop.index }}">
                                <a class="mr-2"
                                   href="{{ course_path('journal_index', {'userid': classlist.user.id, 'index':loop.index}) }}">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> {{ classlist.user.lastname }}, {{ classlist.user.firstname }}</a>
                            </li>
                        {% endfor %}

                        {% for classlist in classlists %}
                            <li class="nav-item classlist_next ml-3" id="next{{ loop.index }}">
                                <a class=""
                                   href="{{ course_path('journal_index', {'userid': classlist.user.id, 'index':loop.index}) }}">{{ classlist.user.lastname }}, {{ classlist.user.firstname }} <i class="fa fa-arrow-right"
                                                                        aria-hidden="true"></i></a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block subnavright %}
        <li class="nav-item">
            <a data-toggle="modal" data-target="#helpModal" href="javascript:void(0);" class="nav-link">Journal Help</a>
        </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Updated</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in docs %}
                    <tr class="body">
                        <td>
                            <a href="{{ course_path('journal_index', {'docid': doc.id, 'userid': doc.user.id}) }}">{{ doc.title }}</a><br/>
                            Word Count: {{ doc.wordcount }}
                        </td>
                        <td>{{ doc.updated | date("M j, Y g:ia") }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">
                            <p>No Journal entries found.</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-sm-12">
            {% if doc %}
                <div class="card mt-3">
                    <div class="card-header">
                        <h2 class="d-inline">{{ doc.title }}</h2>
                        {% if app.user==doc.user %}
                            <a aria-label="Edit Journal entry {{ doc.title }}"
                               class="btn btn-primary btn-sm float-right"
                               href="{{ course_path('journal_edit', {'id': doc.id}) }}">Edit</a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        {{ doc.body|raw }}
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title d-inline">Getting started with the Journal in eLW</h5>
                    </div>
                    <div class="card-body">
                        <p>The eLW Journal is a basic writing space that is only shared between a student and an
                            instructor.</p>
                        <p><strong>New Journal</strong> creates a new Journal entry. Entries will list on the left and
                            can be viewed and edited.</p>
                        {% if role=='Instructor' %}
                        <p>Instructors can navigate through student journals via the <strong>Select Author</strong>
                            dropdown or with the next/previous student listed on the right.</p>
                        <p class="card-text"><strong>Create End Comment</strong> allows instructors to attach a holistic
                            comment.</p>
                        <p class="card-text"><strong>Submit Grade to eLC</strong> allows instructors to send a grade and
                            a comment to eLC's
                            gradebook. Before you submit a grade, go to "eLC Gradebook Setup" on the eLW course home
                            page to
                            create the eLC grade column. </p>
                        {% endif %}
                        <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                            Park Hall 118.</p>
                    </div>
                </div>
            {% endif %}
        </div>

        {# Comment Panel #}
        <div class="col-lg-3 col-sm-12">
            <h2>Feedback</h2>
            <hr/>
            {% if doc %}
                {% if doc.agsResultId is not null and (app.user == doc.user or role == 'Instructor') %}
                    <a class="btn btn-primary btn-sm ltiresult"
                       data-id="lti{{ doc.id }}"
                       href="#"
                       data-request="{{ course_path('ags_score_view', {'docid': doc.id}) }}"
                    >View Score</a>
                    <div id="lti{{ doc.id }}">

                    </div>
                {% else %}
                    {% if role == 'Instructor' %}
                        <a class="btn btn-primary btn-sm ltisubmit"
                           href="{{ course_path('ags_score_new', {'docid': doc.id, 'source': 'journal'}) }}">Submit
                            Grade to
                            eLC</a>
                    {% endif %}
                {% endif %}

                {% for comment in doc.comments %}
                    <div class="card mt-3">
                        <div class="card-header">
                            {% if comment.access=='Hidden' %}
                                <span class="badge badge-primary" style="background:black">Hidden</span>
                            {% endif %}
                            {% if app.user == comment.user %}
                                <a class="btn btn-primary btn-sm float-right"
                                   href="{{ course_path('comment_edit', {'docid': doc.id, 'source': 'journal', 'id': comment.id}) }}">Edit
                                    End Comment</a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {{ comment.body|raw }}
                        </div>
                        {% if comment.grade %}
                            <div class="card-footer">
                                Grade: {{ comment.grade }}
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {# only Instructors can offer feedback on Journal #}
                    {% if role == "Instructor" %}
                        <a class="btn btn-primary btn-sm"
                           href="{{ course_path('comment_new', {'docid': doc.id, 'source': 'journal'}) }}">Create End Comment</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Journal Help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="card-text">The <strong>Journal</strong> is a private writing space for students that is only visible to the student and the instructor.</p>
                    {% if role=='Instructor' %}
                    <p class="card-text"><strong>Give End Comment</strong> allows you to attach a holistic comment.</p>
                    <p class="card-text"><strong>Submit Grade to eLC</strong> will send a grade and a comment to eLC's
                        gradebook. Before you submit a grade, go to "eLC Gradebook Setup" on the eLW course home page to
                        create the eLC grade column. </p>
                    {% endif %}
                    <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                        Park Hall 118.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".ltiresult").each(function () {
                var request = $(this).attr('data-request')
                var target = '#' + $(this).attr('data-id');
                $.ajax({
                    url: request, success: function (result) {
                        $(target).html(result);
                    }
                });
                $(this).hide();
            });
            $('.classlist_next').hide();
            let next = '#next' + ({{ index }} +1);
            $(next).show();
            $('.classlist_prev').hide();
            let prev = '#prev' + ({{ index }} -1);
            $(prev).show();
            {# toggle help on this page #}
            $("#help_card").toggle();
            $("#help-toggle").click(function () {
                $("#help_card").toggle();
                var text = $('#expand_arrows').text();
                $('#expand_arrows').text(text == "expand_less" ? "expand_more" : "expand_less");
            });
        });
    </script>
{% endblock %}


