{% extends 'base.html.twig' %}

{% block title %}Rubric Set  Show - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ rubricset.name }}</h1>

    (Level: {% if rubricset.level == 0 %}Default{% else %}Instructor Created{% endif %})

    {% if (is_granted('ROLE_ADMIN')) or (rubricset.user == app.user) %}
        {{ include('rubricset/_delete_form.html.twig') }}
        <a aria-label="Edit Rubric Set {{ rubricset.name }}" class="btn btn-primary float-right" href="{{ path('rubricset_edit', {'id': rubricset.id}) }}">Edit</a>

        <a aria-label="Add Rubric to {{ rubricset.name }}" class="btn btn-primary float-right" href="{{ path('rubric_new', {'rubricsetid': rubricset.id}) }}">Add Rubric</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Body</th>
            <th>Sort</th>
        </tr>
        </thead>
        <tbody>
        {% for rubric in rubricset.rubrics %}
            <tr>
                <td>
                    <a aria-label="Edit Rubric {{ rubric.name }}" class=""
                       href="{% if (is_granted('ROLE_ADMIN')) or (rubricset.user == app.user) %}{{ path('rubric_edit', {'id': rubric.id, 'rubricsetid':rubricset.id}) }}{% else %}#{% endif %}">
                        {{ rubric.name }}
                    </a>

                </td>
                <td>{{ rubric.body|raw }}</td>
                <td>{{ rubric.sort }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
