{% extends 'base.html.twig' %}

{% block title %}Stages - {{ parent() }}{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#helpModal" href="javascript:void(0);" class="nav-link">Stages Help</a>
    </li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><h1 class="card-title">Stages</h1>
            {% if (is_granted('ROLE_INSTRUCTOR')) %}
                <a aria-label="Add stage" class="btn btn-primary" href="{{ path('stage_new') }}">Add
                    Stage</a>
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for stage in stages %}
                    <tr>
                        <td>
                            <a aria-label="Edit Stage {{ stage.name }}" class="badge bg-default p-2"
                               style="background:{{ stage.color }}"
                               href="{% if (is_granted('ROLE_ADMIN')) or (stage.user == app.user) %}{{ path('stage_edit', {'id': stage.id}) }}{% else %}#{% endif %}">
                                {{ stage.name }}</a>
                             ({% if stage.level==0 %}Default{% elseif stage.level==1 %}Instructor Created{% else %}Shared{% endif %})
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1">No Stages Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="helpModalLabel">Stages Help</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close Help"></button>
                </div>
                <div class="modal-body">
                    <p>
                        As an instructor, you can create customized <strong>stages</strong> for your projects (i.e.
                        Draft One, Final for Grading, Exploratory Draft). You do not have to use the same stages for all
                        projects – if you only have two drafts and a final for your first project and three drafts for
                        your second project, you can select only the appropriate stages.
                        To create a custom stage:
                    <ul>
                        <li>Click <strong>Add Stage</strong>.</li>
                        <li><strong>Name</strong> the stage and click on the color block to select the color you would
                            like to associate with the stage.
                            Then click <strong>Save</strong>.
                        </li>
                        <li>Your new stage will be available when you create or edit projects.</li>
                    </ul>
                    </p>
                    <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                        Park Hall 118.</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
