{% extends 'base.html.twig' %}

{% block title %}Stage New - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/colorPick.css') }}">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">New Stage</h1>
            {{ include('stage/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/colorPick.js') }}"></script>
    <script>
        $(document).ready(function () {
            var color = $("#stage_color").val();
            $("#stage_color").colorPick({
                'initialColor': 'darkblue',
                'palette': ['darkblue', 'rebeccapurple', 'darkred', 'brown', 'darkgreen', 'darkslateblue', 'darkolivegreen', 'darkcyan', 'maroon'],
                'onColorSelected': function () {
                    this.element.css({'backgroundColor': this.color, 'color': 'white'});
                    var selectedColor = this.color;
                    selectedColor = selectedColor.toLowerCase();
                    this.element.val(selectedColor);
                }
            });
            {% if not is_granted('ROLE_ADMIN') %}
            $('#stage_level').hide();
            $('#stage_level').prev().hide();
            {% endif %}
        });
    </script>
{% endblock %}