{% extends 'base.html.twig' %}

{% block title %}Labelset Index - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Label Sets</h1>
{#    <a class="btn btn-primary float-right" href="{{ path('labelset_new') }}">New Label Set</a>#}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
        {% for labelset in labelsets %}
            <tr>
                <td><a a aria-label="Edit Label Set {{ labelset.name }}" href="{{ path('labelset_show', {'id': labelset.id}) }}">{{ labelset.name }}</a></td>
                <td>
                    {% if labelset.level == 0 %}Default{% else %}Created by {{ labelset.user.firstname }} {{ labelset.user.lastname }}{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
