{% extends 'base.html.twig' %}

{% block title %}Project Set Show - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ labelset.name }}</h1>
    (Level: {% if labelset.level == 0 %}Default{% else %}Instructor Created{% endif %})

    <div class="row">
        <div class="col">
            {% if (is_granted('ROLE_ADMIN')) or (labelset.user == app.user) %}
                {{ include('labelset/_delete_form.html.twig') }}
                <a aria-label="Edit Label Set {{ labelset.name }}" class="btn btn-primary float-right" href="{{ path('labelset_edit', {'id': labelset.id}) }}">Edit</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Projects</h2>
            {% if (is_granted('ROLE_ADMIN')) or (labelset.user == app.user) %}
                <a aria-label="Add project to {{ labelset.name }}" class="btn btn-primary float-right" href="{{ path('project_new', {'labelsetid': labelset.id}) }}">Add
                    Project</a>
            {% endif %}
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Stages</th>
                    <th>Rubric</th>
                    <th>Markup Sets</th>
                </tr>
                </thead>
                <tbody>
                {% for project in labelset.projects %}
                    <tr>
                        <td>
                            <a aria-label="Edit Project {{ project.name }}" class="btn btn-primary btn-sm" style="background:{{ project.color }}"
                               href="{% if (is_granted('ROLE_ADMIN')) or (labelset.user == app.user) %}{{ path('project_edit', {'id': project.id}) }}{% else %}#{% endif %}">
                                {{ project.name }}</a>
                        </td>
                        <td>
                            {% if project.stages %}{% for stage in project.stages %}<button class="btn btn-primary btn-sm" style="background:{{ stage.color }}">{{ stage.name }}</button> {% endfor %}{% endif %}
                        </td>
                        <td>
                            {% if project.rubricset %}{{ project.rubricset.name }}{% endif %}
                        </td>
                        <td>
                            {% if project.markupsets %}{% for markupset in project.markupsets %}{{ markupset.name }}{% if not loop.last %}, {% endif%} {% endfor %}{% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1">No Records Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


{#            <h2>Stages</h2>#}
{#            {% if (is_granted('ROLE_ADMIN')) or (labelset.user == app.user) %}#}
{#                <a aria-label="Add stage to {{ labelset.name }}" class="btn btn-primary float-right" href="{{ path('stage_new', {'labelsetid': labelset.id}) }}">Add#}
{#                    Stage</a>#}
{#            {% endif %}#}
{#            <table class="table">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th>Name</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for stage in labelset.stages %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            <a aria-label="Edit Stage {{ stage.name }}" class="badge badge-primary p-2" style="background:{{ stage.color }}"#}
{#                               href="{% if (is_granted('ROLE_ADMIN')) or (labelset.user == app.user) %}{{ path('stage_edit', {'id': stage.id}) }}{% else %}#{% endif %}">#}
{#                                {{ stage.name }}</a>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% else %}#}
{#                    <tr>#}
{#                        <td colspan="1">No Records Found</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
        </div>
    </div>

{% endblock %}
