{% extends 'base.html.twig' %}

{% block title %}Classlist index{% endblock %}

{% block body %}
    <h1>Classlist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>User</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classlist in classlists %}
            <tr>
                <td>{{ classlist.course.name }}</td>
                <td>{{ classlist.user.firstname }} {{ classlist.user.lastname }}</td>
                <td>{{ classlist.role }}</td>
                <td>
                    <a href="{{ path('classlist_edit', {'id': classlist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Records Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
