{% extends 'base.html.twig' %}

{% block title %}Markupset Index - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Markup Sets</h1>
    <a class="btn btn-primary float-right" href="{{ path('markupset_new') }}">New Markup Set</a>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
        {% for markupset in markupsets %}
            <tr>
                <td><a aria-label="Edit Markup Set {{ markupset.name }}" href="{{ path('markupset_show', {'id': markupset.id}) }}">{{ markupset.name }}</a></td>
                <td>{% if markupset.level == 0 %}Default{% elseif markupset.level == 2 %}Shared{% else %}Created by {{ markupset.user.firstname }} {{ markupset.user.lastname }}{% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
