{% extends 'base.html.twig' %}

{% block title %}Markupset Index - {{ parent() }}{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a data-toggle="modal" data-target="#helpModal" href="javascript:void(0);" class="nav-link">Markup Help</a>
    </li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header"><h1 class="card-title">Markup Sets</h1>
            <a class="btn btn-primary" href="{{ path('markupset_new') }}">New Markup Set</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                </tr>
                </thead>
                <tbody>
                {% for markupset in markupsets %}
                    <tr>
                        <td><a aria-label="Edit Markup Set {{ markupset.name }}"
                               href="{{ path('markupset_show', {'id': markupset.id}) }}">{{ markupset.name }}</a></td>
                        <td>{% if markupset.level == 0 %}Default{% elseif markupset.level == 2 %}Shared{% else %}Created by {{ markupset.user.firstname }} {{ markupset.user.lastname }}{% endif %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="helpModalLabel">Markup Help</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        As an instructor, you can customize your own <strong>markup</strong> tags, which are tags that can be used when creating a review of a student’s document to mark certain words, phrases, or sections with a general comment or issue, including diction and syntax. We also provide default markup sets that you can associate with projects. By creating custom markup tags, you can categorize your tags into different related sets, such as use of evidence or mechanics, that are useful to easily mark specific components of a student’s writing during peer revisions and grading.
                    <ul>
                        <li>Click <strong>New Markup Set</strong>, then type the title of your new markup set into the textbox and click <strong>Save</strong>. This will take you back to the screen showing the list of existing markup sets. You should see your new markup set name on this list.</li>
                        <li>Click on the name of your new markup set. This will take you to a new screen where you can begin adding markup tags.</li>
                        <li>Click <strong>Add Markup</strong>. This will open a new screen.</li>
                        <li><strong>Type a name</strong> for your new markup tag.</li>
                        <li><strong>Click on the color block</strong> to associate your markup tag with a color of your choice. </li>
                        <li><strong>Type a description</strong> for this specific markup tag in the bottom box under Description.
                            <br/>Note: This can include a definition of the term used in the tag, what students should use this markup tag for, how students receiving this markup tag in their paper might begin working on this feedback, a link to an outside resource, etc.
                        </li>
                        <li>Click <strong>Save</strong>, then repeat to add additional tags to the set. Your new markup set will be available when you create or edit projects. </li>
                    </ul>

                    </p>
                    <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                        Park Hall 118.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
