{% extends 'base.html.twig' %}

{% block title %}Markupset - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ markupset.name }}</h1>
    (Level: {% if markupset.level == 0 %}Default{% else %}Instructor Created{% endif %})

    {% if (is_granted('ROLE_ADMIN')) or (markupset.user == app.user) %}
    {{ include('markupset/_delete_form.html.twig') }}
    <a class="btn btn-primary float-right" href="{{ path('markupset_edit', {'id': markupset.id}) }}">Edit</a>
    <a class="btn btn-primary float-right" href="{{ path('markup_new', {'markupsetid': markupset.id}) }}">Add Markup</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Sort</th>
        </tr>
        </thead>
        <tbody>
        {% for markup in markupset.markups %}
            <tr>
                <td>
                    <a class="badge badge-primary p-2" style="background:{{ markup.color }}"
                       href="{% if (is_granted('ROLE_ADMIN')) or (markupset.user == app.user) %}{{ path('markup_edit', {'id': markup.id}) }}{% else %}#{% endif %}">
                        {{ markup.name }}
                    </a>
                </td>
                <td>{{ markup.description|raw }}</td>
                <td>{{ markup.sort }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
