{% extends 'base.html.twig' %}

{% block title %}Rubrics  - {{ parent() }}{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a data-toggle="modal" data-target="#helpModal" href="javascript:void(0);" class="nav-link">Rubrics Help</a>
    </li>
{% endblock %}

{% block body %}
    <h1 class="d-inline">Rubrics</h1>

    <a class="btn btn-primary float-right" href="{{ path('rubric_new') }}">New Rubric</a>

    <div class="accordion mt-3" id="accordionMarkup">
        {% for rubric in rubrics %}
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse{{ loop.index }}" aria-expanded="true"
                                aria-controls="collapse{{ loop.index }}">
                            {{ rubric.name }}
                        </button>
                    </h2>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse {% if loop.index==1 %}show{% endif %}"
                     aria-labelledby="heading{{ loop.index }}" data-parent="#accordionMarkup">
                    <div class="card-body">
                        {{ rubric.body|raw }}
                        <a class="btn btn-primary btn-sm" href="{{ path('rubric_edit', {'id': rubric.id}) }}">Edit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="helpModalLabel">Rubrics Help</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Rubrics</strong> actual text needed here. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
