{% extends 'base.html.twig' %}

{% block title %}Rubric index{% endblock %}

{% block body %}
    <h1>Rubric index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>Body</th>
                <th>Sort</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rubric in rubrics %}
            <tr>
                <td>{{ rubric.id }}</td>
                <td>{{ rubric.name }}</td>
                <td>{{ rubric.color }}</td>
                <td>{{ rubric.body }}</td>
                <td>{{ rubric.sort }}</td>
                <td>
                    <a href="{{ path('rubric_show', {'id': rubric.id}) }}">show</a>
                    <a href="{{ path('rubric_edit', {'id': rubric.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rubric_new') }}">Create new</a>
{% endblock %}
