{% extends 'base.html.twig' %}

{% block title %}Rubric Blocks  - {{ parent() }}{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a data-bs-toggle="modal" data-bs-target="#helpModal" href="javascript:void(0);" class="nav-link">Rubric Blocks Help</a>
    </li>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Rubric Blocks</h1>
            {% if (is_granted('ROLE_ADMIN'))%}
            <a class="btn btn-primary" href="{{ path('rubric_new') }}">New Rubric Block</a>
            {% endif %}
        </div>
    </div>

    <div class="accordion mt-3" id="accordionMarkup">
        {% for rubric in rubrics %}
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ loop.index }}" aria-expanded="true"
                                aria-controls="collapse{{ loop.index }}">
                            {{ rubric.name }}  ({% if rubric.level == 0 %}Default{% elseif rubric.level == 2 %}Shared{% elseif rubric.level == 3 %}Archived{% else %}Created by {{ rubric.user.firstname }} {{ rubric.user.lastname }}{% endif %})
                        </button>
                    </h2>
                </div>

                <div id="collapse{{ loop.index }}" class="collapse {% if loop.index==1 %}show{% endif %}"
                     aria-labelledby="heading{{ loop.index }}" data-parent="#accordionMarkup">
                    <div class="card-body">
                        {{ rubric.body|raw }}
                        {% if (is_granted('ROLE_ADMIN')) or (rubric.user == app.user) %}
                        <a class="btn btn-primary btn-sm" href="{{ path('rubric_edit', {'id': rubric.id}) }}">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Help Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="helpModalLabel">Rubric Blocks Help</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close Help"></button>
                </div>
                <div class="modal-body">
                    <p>An instructor can attach rubric blocks to their projects by editing or creating a project.  Instructors can add comments and ratings to the block when they review student work.   </p>
                    <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                        Park Hall 118.</p>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
