{% extends 'base.html.twig' %}

{% block title %}Projects - {{ parent() }}{% endblock %}

{% block subnav %}
        {{ include('course/_subnav.html.twig') }}
{% endblock %}


{% block toolnav %}
    {{ include('course/_coursenav.html.twig') }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
    <h2>Projects for {{ course.name }}</h2>
    {% if (is_granted('ROLE_ADMIN')) or (course.user == app.user) %}
        <a aria-label="Add project to {{ course.name }}" class="btn btn-primary float-right" href="{{ path('project_new', {'courseid': course.id}) }}">Add
            Project</a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Stages</th>
            <th>Rubric</th>
            <th>Markup Sets</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>
                    <a aria-label="Edit Project {{ project.name }}" class="btn btn-primary btn-sm"
                       style="background:{{ project.color }}"
                       href="{% if (is_granted('ROLE_ADMIN')) or (labelset.user == app.user) %}{{ path('project_edit', {'id': project.id}) }}{% else %}#{% endif %}">
                        {{ project.name }}</a>
                </td>
                <td>
                    {% if project.stages %}{% for stage in project.stages %}
                        <button class="btn btn-primary btn-sm"
                                style="background:{{ stage.color }}">{{ stage.name }}</button> {% endfor %}{% endif %}
                </td>
                <td>
                    {% if project.rubrics %}{% for rubric in project.rubrics %}{{ rubric.name }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
                </td>
                <td>
                    {% if project.markupsets %}{% for markupset in project.markupsets %}{{ markupset.name }}{% if not loop.last %}, {% endif %} {% endfor %}{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="1">No Records Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
