{% extends 'base.html.twig' %}

{% block title %}User index- {{ parent() }}{% endblock %}

{% block body %}
    <h1>User Index</h1>
    <a class='btn btn-primary btn-sm float-right' href="{{ path('user_index') }}">Find All</a>
{#    <a class="btn btn-primary float-right" href="{{ path('user_new') }}">New User</a>#}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary btn-sm">{{ button_label|default('Find') }}</button>
        {{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Account Created</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                        <a class='' href="{{ path('course_index') }}?_switch_user={{ user.username }}">Login As</a>
                    {% endif %}
                    {{ user.username }}
                </td>
                <td><a href="{{ path('user_edit', {'id': user.id}) }}">{{ user.firstname }} {{ user.lastname }}</a></td>
                <td>{% for role in user.roles %}{{ role }} {% endfor %}</td>
                <td>{{ user.created | date("m/d/y g:ia") }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Pagination navigation">
        {{ knp_pagination_render(users) }}
    </nav>

{% endblock %}
