{% extends 'base.html.twig' %}

{% block title %}Document Edit - {{ parent() }}{% endblock %}

{% block subnav %}
    <li class="nav-item">
        <a id="doc-title-toggle" class="nav-link" href="#">Settings
            <i id='settings_arrows' class="fa fa-chevron-up"></i></a>
    </li>
    <li class="nav-item">
        <a href="#" id="submit-doc-form" class="btn btn-primary">Save</a>
    </li>
{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a id='saving_alert' href="javascript:void(0);" class="nav-link" id="doc_save">Saving</a>
    </li>
    <li class="nav-item">
        {% if doc.reviews|length == 0 and  doc.comments|length == 0 and doc.agsResultId is null %}
            <a id="delete-trigger" class="nav-link" href="#">Delete</a>
            {{ include('doc/_delete_form.html.twig') }}
        {% else %}
            <p class="navbar-text">Files that have reviews, end comments, or grades cannot be deleted.</p>
        {% endif %}
    </li>
    <li class="nav-item">
        <a data-toggle="modal" data-target="#helpModal" href="javascript:void(0);" class="nav-link">Document Help</a>
    </li>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">{{ include('doc/_form.html.twig', {'button_label': 'Update'}) }}</div>

        <div class="col">
            {# Note Insert #}
            <div class="accordion" id="accordionInsert">
                    <div class="card">
                        <div class="card-header" id="i_heading">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#i_collapse" aria-expanded="true"
                                        aria-controls="i_collapsei">
                                    Insert Note
                                </button>
                            </h2>
                        </div>

                        <div id="i_collapse" class="collapse show"
                             aria-labelledby="i_heading" data-parent="#accordionInsert">
                            <div class="card-body">
                    <form id='note_insert_form' name='note_insert_form'>
                        <label class="sr-only" for="insert_value">Insert Note</label>
                        <textarea class='form-control' id="insert_value" name="html_insert"></textarea>
                        <a id='note_insert_submit' href="javascript:void(0)" class="btn btn-primary btn-sm"
                           title="Insert Note">Insert</a>
                    </form>
                            </div>
                        </div>
                    </div>
            </div>

            {# Markup Insert #}
            <div class="accordion mt-3" id="accordionMarkup">
                {% for markupset in markupsets %}
                    <div class="card">
                        <div class="card-header" id="m_heading{{ loop.index }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#m_collapse{{ loop.index }}" aria-expanded="true"
                                        aria-controls="m_collapse{{ loop.index }}">
                                    Markup {{ loop.index }}: {{ markupset.name }}
                                </button>
                            </h2>
                        </div>

                        <div id="m_collapse{{ loop.index }}" class="collapse"
                             aria-labelledby="m_heading{{ loop.index }}" data-parent="#accordionMarkup">
                            <div class="card-body">
                                {% for markup in markupset.markups %}
                                    <a class="badge badge-primary" style="background-color:{{ markup.color }}"
                                       href="javascript:insert_markup('{{ markup.id }}', '{{ markup.name }}','{{ markup.color }}');"
                                       title="Submit entry">{{ markup.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# rubrics #}
            {% if doc.project.rubrics %}
                <div class="accordion mt-3" id="accordionRubric">
                    {% for rubric in doc.project.rubrics %}
                        <div class="card">
                            <div class="card-header" id="r_heading{{ loop.index }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#r_collapse{{ loop.index }}" aria-expanded="true"
                                            aria-controls="r_collapse{{ loop.index }}">
                                       Rubric {{ loop.index }}: {{ rubric.name }}
                                    </button>
                                </h2>
                            </div>

                            <div id="r_collapse{{ loop.index }}" class="collapse"
                                 aria-labelledby="r_heading{{ loop.index }}" data-parent="#accordionRubric">
                                <div class="card-body">
                                    {{ rubric.body|raw }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    <!-- Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Document Help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p class="card-text">You can click on the ^ next to <strong>Settings</strong> to toggle the settings and give more screen space for the text editor. </p>
                    <p class="card-text"><strong>Insert Note</strong> allows you to embed an inline comment in a
                        document. Place the cursor or highlight a section of text, then type your note and insert.</p>
                    <p class="card-text"><strong>Markup tags </strong>are collected in expandable markup menus. To tag a
                        word or passage, select the text, then click the tag name.</p>

                    <p class="alert alert-warning">We strongly recommend that you compose your work in a word processor and save locally to avoid losing work.
                    Then you can copy-paste your document into the eLW editor.</p>
                    <p class="alert alert-info">For additional <strong>eLW help</strong>, contact esupport@uga.edu or visit the FYW Digital Learning Labs in
                        Park Hall 118.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {# Markup insert and tracking #}
        function insert_markup(id, name, color) {
            var nEditor = CKEDITOR.instances.doc_body;
            nEditor.focus();
            var markup_html = CKEDITOR.dom.element.createFromHtml('<span data-id="' + id + '" title="' + name + '" class="markup" style="background-color:' + color + '">' + nEditor.getSelection().getNative() + ' </span>');
            nEditor.insertElement(markup_html);
        }
        {# Note insert #}
        function note() {
            var note_id = new Date().getTime();
            var nEditor = CKEDITOR.instances.doc_body;
            nEditor.focus();
            if (nEditor.mode == 'wysiwyg') {
                var hightlight = CKEDITOR.dom.element.createFromHtml('<span id="span' + note_id + '" class="highlight">' + nEditor.getSelection().getNative() + ' </span>');
                nEditor.insertElement(hightlight);
                var note = CKEDITOR.dom.element.createFromHtml('<span id="note' + note_id + '" class="note"> ' + document.getElementById('insert_value').value + ' </span>');
                nEditor.insertElement(note);
                $('#insert_value').val('');
            } else
                alert('You must be on WYSIWYG mode!');
        }

        $(document).ready(function () {
            $("label[for=doc_title]").toggle();
            $("label[for=insert_value]").toggle();
            CKEDITOR.addCss(".cke_editable{cursor:text; font-size: 14px; font-family: Arial, sans-serif;padding: 1in;}");
            {% if doc.origin is not null %}
            $("fieldset").toggle();
            $("#doc_project").toggle();
            $("#doc_stage").toggle();
            $("#doc_access").toggle();
            $("#doc_wordcount").toggle();
            $('#settings_arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            {% endif %}
            $("#doc-title-toggle").click(function () {
                $("fieldset").toggle();
                $("#doc_project").toggle();
                $("#doc_stage").toggle();
                $("#doc_access").toggle();
                $("#doc_wordcount").toggle();
                $('#settings_arrows').toggleClass('fa-chevron-down').toggleClass('fa-chevron-up');
            });
            $("#submit-doc-form").click(function () {
                var editor = CKEDITOR.instances.doc_body;
                var count = editor.wordCount.wordCount;
                $('#doc_wordcount').val(count);
                $("#doc-form").submit(); // Submit the form
            });
            $(function () {
                $('#note_insert_submit').click(function () {
                    note();
                });
            });

            {# Delete doc trigger #}
            $('#delete-trigger').click(function () {
                $("#delete-form").submit();
            });

            {# Doc autosave #}
            $('#saving_alert').hide();
            var editor = CKEDITOR.instances.doc_body;
            var autoSave = setInterval(function () {
                var buffer = editor.checkDirty();
                var count = editor.wordCount.wordCount;
                if (buffer == 1) {
                    $('#doc_wordcount').val(count);
                    editor.resetDirty();
                    var body = editor.getData();
                    $.post("{{ course_path('doc_autosave', { 'id': doc.id }) }}", {
                        docBody: body,
                        count: count
                    }, function (data) {
                    });
                    $('#saving_alert').fadeIn();
                    $('#saving_alert').delay(3000).fadeOut();

                }
            }, 15000);
        });
    </script>
{% endblock %}