{% extends 'base.html.twig' %}

{% block title %}Edit Doc{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block subnav %}
    <a id="doc-title-toggle" class="navbar-brand" href="#">{{ doc.title }} <i class="material-icons">expand_more</i></a>
    <li class="nav-item">
        <a href="#" id="submit-doc-form" class="nav-link">Submit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_show', {'id': doc.id}) }}">Close</a>
    </li>
    <li class="nav-item">
        {{ include('doc/_delete_form.html.twig') }}
    </li>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col border">{{ include('doc/_form.html.twig', {'button_label': 'Update'}) }}</div>


        <div class="col">
            {# Note Insert#}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Insert Note</h4>
                    <form id='note_insert_form' name='note_insert_form'>
                        <label for="insert_value">Insert Note</label>
                        <textarea class='form-control' id="insert_value" name="html_insert"></textarea>
                        <a id='note_insert_submit' href="javascript:void(0)" class="btn btn-primary"
                           title="Insert Note">Submit</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("label").toggle();
            $("#doc_title").toggle();
            $("#doc_labels").toggle();
            $("#doc-title-toggle").click(function () {
                $("label").toggle();
                $("#doc_title").toggle();
                $("#doc_labels").toggle();
            });

            $("#submit-doc-form").click(function () {
                $("#doc-form").submit(); // Submit the form
            });
            {# Note insert #}
            function note() {
                var note_id = new Date().getTime();
                var nEditor = CKEDITOR.instances.doc_body;
                nEditor.focus();
                if (nEditor.mode == 'wysiwyg') {
                    var hightlight = CKEDITOR.dom.element.createFromHtml('<span id="span' + note_id + '" class="highlight">' + nEditor.getSelection().getNative() + ' </span>');
                    nEditor.insertElement(hightlight);
                    var note = CKEDITOR.dom.element.createFromHtml('<span id="note' + note_id + '" class="note"> ' + document.getElementById('insert_value').value + ' </span>');
                    nEditor.insertElement(note);
                    $('#insert_value').val('');
                } else
                    alert('You must be on WYSIWYG mode!');
            }

            $(function () {
                $('#note_insert_submit').click(function () {
                    note();
                });
            });
        });
    </script>
{% endblock %}