{% extends 'base.html.twig' %}

{% block title %}Edit Doc{% endblock %}

{% block subnav %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            Documents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ course_path('doc_index') }}">List Docs</a>
            <a class="dropdown-item" href="{{ course_path('doc_new') }}">Create Doc</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">{{ doc.title }}</a>
    </li>
    <li class="nav-item">
        {{ include('doc/_delete_form.html.twig') }}
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_show', {'id': doc.id}) }}">Close</a>
    </li>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">{{ include('doc/_form.html.twig', {'button_label': 'Update'}) }}</div>
        <div class="col"></div>
    </div>


{% endblock %}
