{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="#">{{ course.name }}</a>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_show', {'id': course.id}) }}">Classlist</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documents
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ course_path('doc_index') }}">List Docs</a>
            <a class="dropdown-item" href="{{ course_path('doc_new') }}">Create Doc</a>
        </div>
    </li>
{% endblock %}

{% block body %}
    <h1>Documents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Course</th>
                <th>Owner</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr>
                <td><a href="{{ course_path('doc_show', {'id': doc.id}) }}">{{ doc.title }}</a></td>
                <td>{{ doc.course.name }}</td>
                <td>{{ doc.user.firstname }} {{ doc.user.lastname }}</td>
                <td>{{ doc.updated | date("m/d/y g:ia") }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
