{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="#">{{ course.name }}</a>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_show', {'id': course.id}) }}">Classlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index') }}">My Docs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index', {'findtype': 'SharedDocs'}) }}">Shared Docs</a>
    </li>
{% endblock %}

{% block body %}
    <h2>{{ header }}</h2>

    <a class="btn btn-primary float-right" href="{{ course_path('doc_new') }}">Create Doc</a>

    <input class="form-control" style="width:25%" id="filter" type="text" placeholder="Search..">
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Labels</th>
            <th>Owner</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr>
                <td><a href="{{ course_path('doc_show', {'id': doc.id}) }}">{{ doc.title }}</a></td>
                <td>{% for label in doc.labels %}<span class="badge badge-primary"
                                                       style="background:{{ label.color }}">{{ label.name }}</span>{% endfor %}
                </td>
                <td>{{ doc.user.firstname }} {{ doc.user.lastname }}</td>
                <td>{{ doc.updated | date("m/d/y g:ia") }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(document).ready(function(){
                $("#filter").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("table tr").filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        });
    </script>
{% endblock %}


