{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="#">{{ course.name }}</a>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_show', {'id': course.id}) }}">Classlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index') }}">My Docs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index', {'findtype': 'SharedDocs'}) }}">Shared Docs</a>
    </li>
{% endblock %}

{% block body %}
    <h2>{{ header }}</h2>

    <a class="btn btn-primary float-right" href="{{ course_path('doc_new') }}">Create Doc</a>
    <div class="p-1">
        <input class="form-control" style="width:25%" id="filter" type="text" placeholder="Search..">
    </div>
    <div class="p-2">
        Filter:
        {% for labelset in course.labelsets %}
            {% for label in labelset.labels %}
                <span class="badge badge-primary p-2"
                      style="cursor: pointer; background:{{ label.color }}">{{ label.name }}</span>
            {% endfor %}
        {% endfor %}
        <span class="badge badge-primary p-2"
              style="cursor: pointer; background: grey">Clear</span>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Labels</th>
            <th>Owner</th>
            <th>Reviews</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr class="body">
                <td><a href="{{ course_path('doc_show', {'id': doc.id}) }}">{{ doc.title }}</a></td>
                <td>{% for label in doc.labels %}<span class="badge badge-primary"
                                                       style="background:{{ label.color }}">{{ label.name }}</span>{% endfor %}
                </td>
                <td>
                    {{ doc.user.firstname }} {{ doc.user.lastname }}
                </td>
                <td>{% if doc.reviews|length > 0 %}
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                 Reviews <span class="badge badge-primary">{{ doc.reviews|length }}</span>
                            </a>
                            <div class="dropdown-menu">
                                {% for review in doc.reviews %}
                                    <a class="dropdown-item"
                                       href="{{ course_path('doc_show', {'id': review.id}) }}">{{ review.user.firstname }} {{ review.user.lastname }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </td>
                <td>{{ doc.updated | date("m/d/y g:ia") }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tr.body").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("span.badge").click(function () {
                if ($(this).text() == 'Clear') {
                    $("table tr.body").show();
                }
                else {
                    var value = $(this).text().toLowerCase();
                    $("table tr.body").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                }

            });
        });
    </script>
{% endblock %}


