{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="#">{{ course.name }}</a>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_show', {'id': course.id}) }}">Course Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index') }}">My Docs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index', {'findtype': 'SharedDocs'}) }}">Shared Docs</a>
    </li>
{% endblock %}

{% block body %}
    <h2>{{ header }}</h2>

    <a class="btn btn-primary float-right" href="{{ course_path('doc_new') }}">Create Doc</a>
    <div class="p-1">
        <input class="form-control" style="width:25%" id="filter" type="text" placeholder="Search..">
    </div>
    <div class="p-2">
        Filter:
        {% for labelset in course.labelsets %}
            {% for label in labelset.projects %}
                <span class="badge badge-primary p-2"
                      style="cursor: pointer; background:{{ label.color }}">{{ label.name }}</span>
            {% endfor %}
            {% for label in labelset.stages %}
                <span class="badge badge-primary p-2"
                      style="cursor: pointer; background:{{ label.color }}">{{ label.name }}</span>
            {% endfor %}
        {% endfor %}
        <span class="badge badge-primary p-2"
              style="cursor: pointer; background: grey">Show All</span>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Labels</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr class="body">
                <td>
                    <a href="{{ course_path('doc_show', {'id': doc.id}) }}">{{ doc.title }}</a>
                    {% if doc.reviews|length > 0 %}
                     <span class="badge badge-primary ml-3">{{ doc.reviews|length }} Review(s)</span>
                    {% endif %}
                </td>
                <td>
                    {{ doc.user.firstname }} {{ doc.user.lastname }}
                </td>
                <td>
                    <span class="badge badge-primary" style="background:{{ doc.project.color }}">{{ doc.project.name }}</span>
                    <span class="badge badge-primary" style="background:{{ doc.stage.color }}">{{ doc.stage.name }}</span>
                </td>
                <td>{{ doc.updated | date("m/d/y g:ia") }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No documents found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tr.body").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("span.badge").click(function () {
                if ($(this).text() == 'Show All') {
                    $("table tr.body").show();
                }
                else {
                    var value = $(this).text().toLowerCase();
                    $("table tr.body").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                }

            });
        });
    </script>
{% endblock %}


