{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        th {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="#">{{ course.name }}</a>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('course_show', {'id': course.id}) }}">Course Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index') }}">Documents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('journal_index') }}">Journal</a>
    </li>
{% endblock %}

{% block toolnav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ course_path('doc_index') }}">My Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ course_path('doc_index', {'findtype': 'SharedDocs'}) }}">Shared Docs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Select Author
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for classlist in course.classlists %}
                                <a class="dropdown-item"
                                   href="{{ course_path('doc_byuser', {'userid': classlist.user.id}) }}">{{ classlist.user.firstname }} {{ classlist.user.lastname }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="{{ course_path('doc_new') }}">New Doc</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <h1>{{ header }}</h1>

    <div class="p-1">
        <label for="filter" class="required">Search/Filter Docs</label>
        <input class="form-control" style="width:25%" id="filter" type="text">
    </div>
    <div class="p-2">
        Filter:
        {% for labelset in course.labelsets %}
            {% for label in labelset.projects %}
                <span class="badge badge-primary p-2"
                      style="cursor: pointer; background:{{ label.color }}">{{ label.name }}</span>
            {% endfor %}
            {% for label in labelset.stages %}
                <span class="badge badge-primary p-2"
                      style="cursor: pointer; background:{{ label.color }}">{{ label.name }}</span>
            {% endfor %}
        {% endfor %}
        <span class="badge badge-primary p-2"
              style="cursor: pointer; background: #3e3e3e">Show All</span>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Labels</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in docs %}
            <tr class="body">
                <td>
                    {% if doc.origin %}
                        <span class="badge badge-primary">Review</span>
                    {% endif %}
                    <a target="_blank" href="{{ course_path('doc_show', {'id': doc.id}) }}">{{ doc.title }}</a>
                    {% if doc.reviews|length > 0 %}
                        <span class="badge badge-primary ml-3">{{ doc.reviews|length }} Review(s)</span>
                    {% endif %}
                </td>
                <td>
                    {{ doc.user.firstname }} {{ doc.user.lastname }}
                </td>
                <td>
                    <span class="badge badge-primary"
                          style="background:{{ doc.project.color }}">{{ doc.project.name }}</span>
                    <span class="badge badge-primary"
                          style="background:{{ doc.stage.color }}">{{ doc.stage.name }}</span>
                    <span class="badge badge-primary"
                          style="background:{% if doc.access=='Private'%}darkred{% elseif doc.access=='Hidden' %}black{% else %}green{% endif %}">{{ doc.access }}</span>
                </td>
                <td>{{ doc.updated | date("m/d/y g:ia") }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No documents found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#filter").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tr.body").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $("span.badge").click(function () {
                if ($(this).text() == 'Show All') {
                    $("table tr.body").show();
                } else {
                    var value = $(this).text().toLowerCase();
                    $("table tr.body").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                }

            });
        });
    </script>
    {#    Simple table sort#}
    <script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            const tbody = table.querySelector('tbody');
            Array.from(tbody.querySelectorAll('tr'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => tbody.appendChild(tr));
        })));
    </script>
{% endblock %}


