{% extends 'base.html.twig' %}

{% block title %}New Doc{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
{% endblock %}

{% block subnav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('doc_index') }}">Documents</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">{{ doc.title }}</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">{{ include('doc/_form.html.twig') }}</div>
        <div class="col"></div>
    </div>
{% endblock %}


