{% extends 'base.html.twig' %}

{% block title %}New Doc{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
{% endblock %}

{% block subnav %}
    <a class="navbar-brand" href="#">{{ doc.title }}</a>
    <li class="nav-item">
        <a href="#" id="submit-doc-form" class="nav-link">Submit</a>
    </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">{{ include('doc/_form.html.twig') }}</div>
        <div class="col"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#submit-doc-form").click(function () {
                $("#doc-form").submit(); // Submit the form
            });
        });
    </script>
{% endblock %}


