{% extends 'base.html.twig' %}

{% block title %}Document Show - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
{% endblock %}

{% block subnav %}
    {% if doc.reviews|length > 0 %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a data-id="doc{{ doc.id }}" class="dropdown-item doc-click" href="#">Original Doc</a>
                {% for review in doc.reviews %}
                    {% if review.access !='Hidden' %}
                        {% if (review.access =='Private' and doc.user==app.user) or role=='Instructor' or review.access =='Review' %}

                            <a data-id='doc{{ review.id }}' class="dropdown-item doc-click"
                               href="#">
                                Review By {{ review.user.firstname }} {{ review.user.lastname }}
                                {% if review.comments|length > 0 %}
                                    <span class="badge badge-primary"
                                          style="background:darkblue">Feedback ({{ review.comments|length }})</span>

                                {% endif %}
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </li>
    {% endif %}

    <li class="nav-item">
        <a id="toggle-inline" class="nav-link" href="#">Notes <span id="toggle">Popover</span></a>
    </li>
    {# if owner #}
    {% if app.user == doc.user %}
        <li class="nav-item">
            <a aria-label="Edit Document {{ doc.title }}" class="btn btn-primary" href="{{ course_path('doc_edit', {'id': doc.id}) }}">Edit</a>
        </li>
    {% elseif doc.access!='Review' %}
        <li class="nav-item">
            <a aria-label="Create Review of Document {{ doc.title }}" class="btn btn-primary" href="{{ course_path('doc_review', {'docid': doc.id}) }}">Create Review</a>
        </li>
    {% endif %}


{% endblock %}

{% block subnavright %}
    <li class="nav-item">
        <a aria-label="Close Document {{ doc.title }}" id='close-trigger' class="nav-link" href="#">Close</a>
    </li>
{% endblock %}


{% block body %}
    <div class="row doc-container d-none" id="doc{{ doc.id }}">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="document-editor">
                {{ doc.body|raw }}
            </div>
        </div>

        {# Info column #}
        <div class="col">
            {# Help Card #}
            <div class="card mt-3 mb-3" style="margin-top: 0 !important;">
                <div class="card-header">
                    <a id='help-toggle' class="" href="#"><h2>Document Help <i id="help_arrows" class="material-icons expand_arrows">expand_more</i></h2></a>
                </div>
                <div id="help_card" class="card-body">
                    {% if app.user != doc.user and doc.access!='Review' %}
                    <p class="card-text"><strong>Create Review</strong> will create a copy of the document so you can make inline comments and add markup.</p>
                    {% endif %}
                    <p class="card-text"><strong>Give Feedback</strong> allows you to attach a holistic comment.  If you're also creating a review, you should give feedback on the review you've created instead of on the original document.</p>
                    <p class="card-text"><strong>Submit Grade to eLC</strong> is an instructor button that will send a grade and a comment to eLC's gradebook.  Before you submit a grade, go to "eLC Gradebook Setup" on the eLW course home page to create the eLC grade column.  </p>
                </div>
            </div>
            {# Document Info #}
            <div class="card mt-3 mb-3">
                <div class="card-header">
                    <h1>{% if doc.origin %}<span class="badge badge-primary"
                                                 style="background-color: darkblue">Review</span> {% endif %}{{ doc.title }}
                    </h1>
                </div>
                <div class="card-body">
                    <p>{{ doc.user.firstname }} {{ doc.user.lastname }}</p>
                    <p>Created: {{ doc.created | date("M j, Y g:ia") }}</p>
                    <p>Modified: {{ doc.updated | date("M j, Y g:ia") }} </p>
                    <p>Word Count: {{ doc.wordcount }} </p>
                    <span class="badge badge-primary"
                          style="background:{{ doc.project.color }}">{{ doc.project.name }}</span>
                    <span class="badge badge-primary"
                          style="background:{{ doc.stage.color }}">{{ doc.stage.name }}</span>

                    <span class="badge badge-primary"
                          style="background:{% if doc.access=='Private'%}darkred{% elseif doc.access=='Hidden' %}black{% else %}green{% endif %}">{{ doc.access }}</span>
                </div>
            </div>

            <a aria-label="Create PDF of Document {{ doc.title }}" class="btn btn-primary btn-sm" href="{{ course_path('doc_pdf', {'id': doc.id}) }}">Create PDF</a>
            {# Comment Panel #}
            <a aria-label="Give Feedback on {{ doc.title }}" class="btn btn-primary btn-sm"
               href="{{ course_path('comment_new', {'docid': doc.id, 'source': 'doc'}) }}">Give
                Feedback</a>

            {% if doc.agsResultId is not null and (app.user == doc.user or role == 'Instructor') %}
                <a class="btn btn-primary btn-sm ltiresult"
                   data-id="lti{{ doc.id }}"
                   href="#"
                   data-request="{{ course_path('ags_score_view', {'docid': doc.id}) }}"
                >View Score</a>
                <div id="lti{{ doc.id }}">

                </div>
                {% if role == 'Instructor' %}
                    <a aria-label="Update Grade in
                        eLC for Document {{ doc.title }}" class="btn btn-primary btn-sm ltisubmit"
                       href="{{ course_path('ags_score_new', {'docid': doc.id, 'source': 'doc'}) }}">Update Grade in
                        eLC</a>
                {% endif %}
            {% else %}
                {% if role == 'Instructor' %}
                    <a aria-label="Submit Grade to
                        eLC for Document {{ doc.title }}" class="btn btn-primary btn-sm ltisubmit"
                       href="{{ course_path('ags_score_new', {'docid': doc.id, 'source': 'doc'}) }}">Submit Grade to
                        eLC</a>
                {% endif %}
            {% endif %}

            {% for comment in doc.comments %}
                {% if comment.user == app.user or (comment.access == 'Private' and app.user == doc.user) or role == 'Instructor' %}
                    <div class="card mt-3">
                        <div class="card-header">
                            {{ comment.type }} by {{ comment.user.firstname }} {{ comment.user.lastname }}
                            {% if comment.access=='Hidden' %}
                            {% endif %}
                            {% if app.user == comment.user %}
                                <a aria-label="Update Feedback posted on {{ comment.created | date("M j, Y g:ia") }}" class="btn btn-primary btn-sm float-right"
                                   href="{{ course_path('comment_edit', {'docid': doc.id, 'source': 'doc', 'id': comment.id}) }}">Edit
                                    Feedback</a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            {{ comment.body|raw }}
                        </div>

                        <div class="card-footer">
                            {% if comment.grade %}Grade: {{ comment.grade }}{% endif %}
                            <span class="float-right">Posted: {{ comment.updated | date("m/d/y g:ia") }}</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row" class="d-none">
        {# Markup pops for this document #}
        <div class="markup-container">
            {% for markupset in markupsets %}
                {% for markup in markupset.markups %}
                    <div data-id='{{ markup.id }}' id='{{ markup.name }}' class='popover popover-markup d-none'
                         style="min-width: 10rem">
                        <div class="popover-title"
                             style="background: {{ markup.color }}; padding:.5em; color:#fff; min-width: 5em;">{{ markup.name }}</div>
                        <div class="popover-content" style="padding:.5em;">{{ markup.description|raw }}</div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {% for review in doc.reviews %}
        {% if review.access !='Hidden' %}
            {% if (review.access =='Private' and doc.user==app.user) or role=='Instructor' or review.access =='Review' %}
                <div class="row doc-container" id="doc{{ review.id }}">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="document-editor">
                            {{ review.body|raw }}
                        </div>
                    </div>

                    {# Info column #}
                    <div class="col">
                        <div class="card mt-3 mb-3">
                            <div class="card-header">
                                <h2><span class="badge badge-primary" style="background-color: darkblue">Review</span>
                                    of <span
                                            class="font-italic">{{ doc.title }}</h2>
                            </div>
                            <div class="card-body">
                                <p> by {{ review.user.firstname }} {{ review.user.lastname }}
                                    for {{ doc.user.firstname }} {{ doc.user.lastname }}</p>
                                <p>Created: {{ review.created | date("M j, Y g:ia") }}</p>
                                <p>Modified: {{ review.updated | date("M j, Y g:ia") }} </p>
                                <p>Word Count: {{ review.wordcount }} </p>

                            </div>
                        </div>

                        <a class="btn btn-primary btn-sm" href="{{ course_path('doc_pdf', {'id': review.id}) }}">Create
                            PDF</a>

                        {# LTI Grade submit and display #}
                        {% if review.agsResultId is not null and (app.user == doc.user or role == 'Instructor') %}
                            <a class="btn btn-primary btn-sm ltiresult"
                               data-id="lti{{ review.id }}"
                               href="#"
                               data-request="{{ course_path('ags_score_view', {'docid': review.id}) }}"
                            >View Score</a>
                            <div id="lti{{ review.id }}">

                            </div>
                            {% if role == 'Instructor' %}
                                <a class="btn btn-primary btn-sm ltisubmit"
                                   href="{{ course_path('ags_score_new', {'docid': review.id, 'source': 'doc'}) }}">Update
                                    Grade to eLC</a>
                            {% endif %}
                        {% else %}
                            {% if role == 'Instructor' %}
                                <a class="btn btn-primary btn-sm ltisubmit"
                                   href="{{ course_path('ags_score_new', {'docid': review.id, 'source': 'doc'}) }}">Submit
                                    Grade to eLC</a>
                            {% endif %}
                        {% endif %}

                        {% for comment in review.comments %}
                            {% if comment.access == 'Shared' or (comment.access == 'Private' and app.user == doc.user) or role == 'Instructor' %}
                                <div class="card mt-3">
                                    <div class="card-header">
                                        {{ comment.type }} by {{ comment.user.firstname }} {{ comment.user.lastname }}
                                        {% if comment.access=='Hidden' %}
                                            <span class="badge badge-primary" style="background:black">Hidden</span>
                                        {% elseif comment.access=='Private' %}
                                            <span class="badge badge-primary" style="background:darkred">Private</span>
                                        {% elseif comment.access=='Shared' %}
                                            <span class="badge badge-primary" style="background:darkgreen">Shared</span>
                                        {% endif %}
                                        {% if app.user == comment.user %}
                                            <a class="btn btn-primary btn-sm float-right"
                                               href="{{ course_path('comment_edit', {'docid': doc.id, 'source': 'doc', 'id': comment.id}) }}">Edit
                                                Feedback</a>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        {{ comment.body|raw }}
                                    </div>
                                    <div class="card-footer">
                                        {% if comment.grade %}Grade: {{ comment.grade }}{% endif %}
                                        <span class="float-right">Posted: {{ comment.updated | date("m/d/y g:ia") }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
                $(".ltiresult").each(function () {
                    var request = $(this).attr('data-request')
                    var target = '#' + $(this).attr('data-id');
                    $.ajax({
                        url: request, success: function (result) {
                            $(target).html(result);
                        }
                    });
                    $(this).hide();
                });
                $("#toggle-inline").click(function () {
                    $('#toggle').text(($('#toggle').text() == 'Popover' ? 'Inline' : 'Popover'));
                    $('.note, .super').toggle();
                    $('.popover').hide();
                });
            {# toggle help on this page #}
            $( "#help_card" ).toggle();
            $("#help-toggle").click(function () {
                $( "#help_card" ).toggle();
                var text = $('#help_arrows').text();
                $('#help_arrows').text(text == "expand_less" ? "expand_more" : "expand_less");
            });
                    {# Note pops for this/these documents #}
                $('.note').each(function (index) {
                    var p = $(this).position();
                    var top = p.top;
                    var note_index = index + 1;
                    var note_number = '<span class="blue">' + note_index + '</span>';
                    var note = '<div id="n' + note_index + '" data-id="h' + note_index + '" class="popover popover-note" style="min-width: 20rem;"><div class="popover-content">' + note_number + $(this).html() + '</div></div>';
                    $(this).prev().append(note);
                });

                $('.highlight').each(function (index) {
                    var span_number = index + 1;
                    $(this).attr('id', 'h' + span_number);
                    var span_append = '<span class="super">' + span_number + '</span>';
                    $(this).append(span_append);
                    $('.super').hide();
                });

                $('.markup').each(function () {
                    var id = "div[data-id='" + $(this).attr('data-id') + "']";
                    var markupbody = $(id).children(".popover-title").text();
                    var span_append = '<span class="note markupbody">' + markupbody + '</span>';
                    $(this).after(span_append);
                });

                $('.popover').hide();

                $('.markup').mouseover(function () {
                    if ($('#toggle').text() != 'Popover') {
                        $('.popover').hide();
                        var id = "div[data-id='" + $(this).attr('data-id') + "']";
                        var offset = $(this).offset();
                        $(id).show().offset({top: offset.top - 50, left: offset.left + 100});
                    }
                });
                $('.highlight').mouseover(function () {
                    if ($('#toggle').text() != 'Popover') {
                        $('.popover').hide();
                        var id = "div[data-id='" + $(this).attr('id') + "']";
                        var offset = $(this).position();
                        var right = $(this).position().left + $(this).width();
                        $(id).show().offset({top: offset.top - 0, left: right});
                    }

                });
                $('.popover').click(function () {
                    $(this).hide();
                });

                    {# Document/Reviews #}
                $('.doc-click').click(function () {
                    var id = '#' + $(this).attr('data-id');
                    $('.doc-container').hide();
                    $(id).show();
                });

                $('#close-trigger').click(function () {
                    window.close();
                });
                $('.doc-container, .popover-markup').removeClass('d-none');
                $('.doc-container').hide();
                $('#doc{{ target }}').show()

                $("#compare_click").click(function () {
                    var doc1;
                    var doc2;
                    var url;
                    var location = '_blank'
                    if ($('input:checked').length != 2) {
                        alert('Please select only two documents to compare');
                    } else {
                        var doc1 = $('input:checked:eq( 0 )').attr('id');
                        var doc2 = $('input:checked:eq( 1 )').attr('id');
                        var url = '/doc/' + doc1 + '/' + doc2 + '/' + '{{ course.id }}' + '/diff';
                        window.open(url, location);
                    }
                });
            }
        );
    </script>
{% endblock %}