{% extends 'base.html.twig' %}

{% block title %}Doc{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/ckeditor_document.css') }}">
{% endblock %}

{% block subnav %}
    <a data-id="doc{{ doc.id }}" class="navbar-brand nav-link doc-click" href="#">{{ doc.title }}</a>
    {% if doc.reviews|length > 0 %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Reviews
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a data-id="doc{{ doc.id }}" class="dropdown-item doc-click" href="#">Original Doc</a>
                {% for doc in doc.reviews %}
                    <a data-id='doc{{ doc.id }}' class="dropdown-item doc-click"
                       href="#">Review By {{ doc.user.firstname }} {{ doc.user.lastname }}</a>
                {% endfor %}
            </div>
        </li>
    {% endif %}

    {# if owner #}
    {% if app.user == doc.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ course_path('doc_edit', {'id': doc.id}) }}">Edit</a>
        </li>
        <li class="nav-item">
            <a id="delete-trigger" class="nav-link" href="#">Delete</a>
            {{ include('doc/_delete_form.html.twig') }}
        </li>
    {% elseif doc.access!='Review' %}
        <li class="nav-item">
            <a class="nav-link" href="{{ course_path('doc_review', {'docid': doc.id}) }}">Create Review</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a id="toggle-inline" class="nav-link" href="#">Notes <span id="toggle">Inline</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ course_path('doc_index') }}">Close</a>
    </li>
{% endblock %}


{% block body %}
    <div class="row doc-container" id="doc{{ doc.id }}">
        <div class="col">
            <span class="badge badge-primary" style="background:{{ doc.project.color }}">{{ doc.project.name }}</span>
            <span class="badge badge-primary" style="background:{{ doc.stage.color }}">{{ doc.stage.name }}</span>
            <span class="badge badge-primary" style="background:darkred">{{ doc.access }}</span>
            <div class="document-editor">
                {{ doc.body|raw }}
            </div>

            {# Markup pops for this document #}
            <div class="markup-container" class="d-none">
                {% for markupset in markupsets %}
                    {% for markup in markupset.markups %}
                        <div data-id='{{ markup.id }}' id='{{ markup.name }}' class='popover popover-markup'
                             style="min-width: 10rem">
                            <div class="popover-title"
                                 style="background: {{ markup.color }}; padding:.5em; color:#fff; min-width: 5em;">{{ markup.name }}</div>
                            <div class="popover-content" style="padding:.5em;">{{ markup.description|raw }}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col">
            {# Notes Panel #}
            <div id="notes">
                <div id='notes_container'>
                </div>
            </div>
        </div>
    </div>

    {% for review in doc.reviews %}
        <div class="row doc-container" id="doc{{ review.id }}">
            <div class="col">
                <div class="alert alert-info">Review by {{ review.user.firstname }} {{ review.user.lastname }} of <span
                            class="font-italic">{{ doc.title }}</span>
                    by {{ doc.user.firstname }} {{ doc.user.lastname }} </div>
                <div class="document-editor">
                    {{ review.body|raw }}
                </div>
            </div>
            <div class="col">
                {# Notes Panel #}
                <div id="notes">
                    <div id='notes_container'>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}






    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {


                $("#toggle-inline").click(function () {
                    $('#toggle').text(($('#toggle').text() == 'Inline' ? 'Popover' : 'Inline'));
                    $('.note, .super').toggle();
                    $('.popover').hide();
                });
                    {# Note pops for this/these documents#}
                $('.note').each(function (index) {
                    var p = $(this).position();
                    var top = p.top;
                    var note_index = index + 1;
                    var note_number = '<span class="blue">' + note_index + '</span>';
                    var note = '<div id="n' + note_index + '" data-id="h' + note_index + '" class="popover popover-note" style="min-width: 20rem;"><div class="popover-content">' + note_number + $(this).html() + '</div></div>';
                    $(this).prev().append(note);
                });

                $('.highlight').each(function (index) {
                    var span_number = index + 1;
                    $(this).attr('id', 'h' + span_number);
                    var span_append = '<span class="super">' + span_number + '</span>';
                    $(this).append(span_append);
                    $('.super').hide();
                });

                $('.popover').hide();
                $('.markup').mouseover(function () {
                    $('.popover').hide();
                    var id = "div[data-id='" + $(this).attr('data-id') + "']";
                    var offset = $(this).offset();
                    $(id).show().offset({top: offset.top - 50, left: offset.left + 100});
                });
                $('.highlight').mouseover(function () {
                    if ($('#toggle').text() != 'Inline') {
                        $('.popover').hide();
                        var id = "div[data-id='" + $(this).attr('id') + "']";
                        var offset = $(this).position();
                        var right = $(this).position().left + $(this).width();
                        $(id).show().offset({top: offset.top - 0, left: right});
                    }

                });
                $('.popover').click(function () {
                    $(this).hide();
                });

                    {# Document/Reviews#}
                $('.doc-click').click(function () {
                    var id = '#' + $(this).attr('data-id');
                    $('.doc-container').hide();
                    $(id).show();
                });

                    {# Delete doc trigger#}
                $('#delete-trigger').click(function () {
                    $( "#delete-form" ).submit();
                });
            }
        );
    </script>
{% endblock %}